.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/chatterjee.jpg', alt='')
        br
        span
            h5 
                |Prankrishna Chatterjee (Retired)
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/prajeesh.jpg', alt='')
        br
        span
            h5 
                |PrajeesH RamakrishnaN
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/pravanjan.png', alt='')
        br
        span
            h5 
                |Pravanjan Nayak
                br
            | Associated with CoE-TCS Project under 
            a(href= 'http://www.coeamt.com/') CoE in Advanced Manufacturing Technology
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/dibya.png', alt='')
        br
        span
            h5 
                |Dibyajyoti Panda (Former Staff)
                br
            | Associated with CoE-TCS Project under 
            a(href= 'http://www.coeamt.com/') CoE in Advanced Manufacturing Technology
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/pratik.jpg', alt='')
        br
        span
            h5
                |Pratik Mishra (Former Staff)
                br
            | Associated with CoE-TCS Project under 
            a(href= 'http://www.coeamt.com/') CoE in Advanced Manufacturing Technology
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/jyotirmoy.jpg', alt='')
        br
        span
            h5
                |Jyotirmoy Mallick (Former Staff) 
                br
            | Associated with CoE-TCS Project under 
            a(href= 'http://www.coeamt.com/') CoE in Advanced Manufacturing Technology
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/ayan.jpg', alt='')
        br
        span
            h5
                |Ayan Banerjee (Former Staff)
                br
            | Associated with CoE-TCS Project under 
            a(href= 'http://www.coeamt.com/') CoE in Advanced Manufacturing Technology
br
br

