extends layout

block content
  body
    include navbar 
    br
    br
    br
    .mx-auto
      .row.justify-content-center.head
        h1 International Collaborators
      .row.collab-div.mx-auto
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/International/c6ib00009f-p3_hi-res.jpg', alt='')
        .col-md-4.my-auto 
          h5 
            a(href='https://www.research.manchester.ac.uk/portal/partha.mandal.html') Dr. Parthasarathi Mandal
          |  The University of Manchester, UK
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/International/barbara-s.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='https://www.kcl.ac.uk/people/barbara-shollock') Prof. Barbara Shollock
          |  Kings College London, UK 
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/International/prakash.png', alt='')
        .col-md-4.my-auto
          h5 
            a(href='https://warwick.ac.uk/fac/sci/wmg/people/profile/?wmgid=1044') Dr. Prakash Srirangam
          |  WMG, University of Warwick, UK
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/International/Esther.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='https://www.uj.ac.za/contact/Pages/Esther-Titilayo-Akinlabi.aspx') Prof. Esther Titilayo Akinlabi
          |  University of Johannesburg, SA
      br
      br
      .row.justify-content-center.head
        h1 National Collaborators
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/prof_skp2.JPG', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.fswlab.in/skpal') Prof. Surjya Kanta Pal
          |  IIT Kharagpur
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/aknath.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-6dbdbf29bae16a810e264a8bd6e4b821') Prof. Ashish K Nath
          |  IIT Kharagpur
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/sudip.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='https://cse.iitkgp.ac.in/~smisra/') Prof. Sudip Misra
          |  IIT Kharagpur
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/sbsingh.jpg', alt='')
        .col-md-4.my-auto
          h5 
           a(href='http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv Brat Singh
          |  IIT Kharagpur
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/debashishchakravarty.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitkgp.ac.in/department/MI/faculty/mi-dc') Prof. Debashish Chakravarty
          |  IIT Kharagpur
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/aksam.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-samantaray') Prof. Arun K Samantaray
          |  IIT Kharagpur
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/psaha.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-psaha') Prof. Partha Saha
          |  IIT Kharagpur
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/skpanda.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-sushanta.panda') Dr. Sushanata K Panda
          |  IIT Kharagpur
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/jpaul.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-a62567b46de3c8efcf74bdf8317532b3') Dr. Jinu Paul
          |  IIT Kharagpur
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/vr.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-vikranth.racherla') Dr. Vikranth Racherla 
          |  IIT Kharagpur
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/anandaroopbhattacharya.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-anandaroop') Dr. Anandaroop Bhattacharyya
          |  IIT Kharagpur
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/chakladar.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-ndaschakladar') Dr. Nilanjan Das Chakladar
          |  IIT Kharagpur
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/srikantapal.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='https://www.bitmesra.ac.in/Display_My_Profile_00983KKj893L?id=Qp4gXVXIpUMq42VQjQfFAw%253d%253d') Prof. Srikanta Pal
          |  BIT Mesra 
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/kamalpal.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.vssut.ac.in/faculty-profile.php?furl=kamal-pal') Dr. Kamal Pal
          |  VSSUT, Burla
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/sukhomaypal.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='http://www.iitg.ac.in/spal/') Dr. Sukhomay Pal
          |  IIT Guwahati
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/samik.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='https://www.cmeri.res.in/user-details/1290') Dr. Samik Dutta
          |  CMERI, Durgapur
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/harsadeep.png', alt='')
        .col-md-4.my-auto
          h5 
            a(href='https://dbatu.ac.in/mech-hsjoshi/') Dr. Harshadeep S. Joshi
          |  Dr. Babasaheb Ambedkar Technological University
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/Rahul.jpg', alt='')
        .col-md-4.my-auto
          h5 
            a(href='https://www.iitbhilai.ac.in/index.php?pid=rahul') Dr. Rahul Jain
          | IIT Bhilai
      br
      br
      .row.justify-content-center.head
        h1 Industrial Collaborators
      .row.collab-div
        .col-md-2
          img.collab-img.img-fluid.rounded-circle(src='./img/Collaborations/National/tcs.png', alt='')
        .col-md-4.my-auto
          h5 Tata Consultancy Services
          a(href='http://www.coeamt.com/industry-project-project1.php') Projects
    br
    br
