doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='css/main.css')
    script(defer='', src='https://use.fontawesome.com/956ffca340.js')
    link(rel='stylesheet', href='css/main2.css')
    //link(rel='stylesheet' href='css/debug.css')
    link(rel='stylesheet', type='text/css', href='slick/slick.css')
    link(rel='stylesheet', type='text/css', href='slick/slick-theme.css')
    title FSW IIT Kharagpur
  

  block content      

  footer.fontsmall
    .row
      .col-md-4
        h5(style='color: #CEE91E; font-family:Georgia, serif') Important Links
        a.home(href="http://www.iitkgp.ac.in") IIT Kharagpur
        br
        a.home(href="http://www.coeamt.com") CoE in Advanced Manufacturing Technology
        br
        a.home(href='/news') News
        br
        a.home(href='/cal') Calender
   
        //a(href="http://www1.iitkgp.ac.in/fac-profiles/showprofile.php?empcode=bVmZZ&depts_name=ME") Prof S.K. Pal webpage  
      .col-md-4.my-auto
        h5(style='color: #CEE91E; font-family:Georgia, serif') Connect
        br
        a.mx-auto(href='https://www.youtube.com/channel/UCh7uBO5Tf-SWmlx3b7dzfwg?view_as=subscriber') <img src="img/youtube.png" alt="" width="60" height="60"> &emsp;
        a.mx-auto(href='https://www.facebook.com/Friction-Stir-Welding-Laboratory-108196917279013/?modal=admin_todo_tour') <img src="img/facebook.png" alt="" width="55" height="55">
          //a(href='https://www.youtube.com/channel/UCh7uBO5Tf-SWmlx3b7dzfwg?view_as=subscriber') <i class="fa fa-youtube-play" aria-hidden="true"></i> &emsp;
          //a(href='https://www.facebook.com/Friction-Stir-Welding-Laboratory-108196917279013/?modal=admin_todo_tour') <i class="fa fa-facebook-square" aria-hidden="true"></i>

      .col-md-4 
        h5(style='color: #CEE91E; font-family:Georgia, serif') Reach us
        |Friction Stir Welding Laboratory
        br
        | Department of Mechanical Engineering 
        br
        | IIT Kharagpur, 721302, West Bengal, India
        br
        | Email: fswlab.iitkgp@gmail.com
      //- .col-md-3
        h5(style='color: #CEE91E; font-family:Georgia, serif') 
        br
        |<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d492.45559714599744!2d87.31254119528556!3d22.321089500852167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d440255555547%3A0x6f2f20dd0c0d6793!2sIndian%20Institute%20of%20Technology%20Kharagpur!5e1!3m2!1sen!2sin!4v1572036799348!5m2!1sen!2sin" width="150" height="150" frameborder="0" style="border:0;border-radius:15%" allowfullscreen=""></iframe>
  .row.navbarb.text-light.p-3.lf
    .col-md-6.text-left
      | &copy; FSW LAB IIT KGP
    .col-md-6.text-right
      |Developed by 
      span.font-weight-bold   
        a.home(href="http://www.mihirgupta.in") Mihir Gupta  
        |& 
        a.home(href="https://www.linkedin.com/in/debasish-mishra-070a3845") Debasish Mishra  
    //.col-md-6 
      h5 Reach Us
      br
      br
       | Friction Stir Welding Laboratory
       br
       | Department of Mechanical Engineering 
       br
       | IIT Kharagpur, 721302, West Bengal, India
       br
       | Email: fswlab.iitkgp[at]gmail.com
        //.col-md-8(style='padding-top:55px;padding-left:55px;text-align:left')
          | Friction Stir Welding Laboratory
          br
          | Department of Mechanical Engineering 
          br
          | IIT Kharagpur
          br
          | Email: fswlab.iitkgp[at]gmail.com
  // Optional JavaScript
  // jQuery first, then Popper.js, then Bootstrap JS
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
  script(src='js/main.js', type='text/javascript')
  script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
  script(type='text/javascript', src='slick/slick.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
