extends layout

block content
  body
    include navbar 
    br
    br
    br
    .justify-content-center
        .row.justify-content-center
            h1. 
                All News
        .jumbotron.container
            .row
                ul.custom-bullet(style='font-family:Georgia, serif')
                    li
                        span.font-weight-bold 
                        | Team FSW congratulates 
                        a(href= 'http://www.fswlab.in/doctorals') Debasish Mishra 
                        | on getting Postdoctoral Fellowship offer from University of Connecticut.
                        | Our best wishes to him.
                        br
                    li
                        span.font-weight-bold 
                        | The entire team of FSW Lab congratulates 
                        a(href= 'http://www.fswlab.in/doctorals') Raju Prasad Mahto & 
                        a(href= 'http://www.fswlab.in/doctorals') Abhisekh Sharma 
                        | on getting Postdoctoral Fellowship offer from China and wishes them
                        | loads of luck for their future endeavour.
                        br
                    li
                        | Interested 
                        a(href= 'http://www.fswlab.in/interns') Interns on
                        span.font-weight-bold Robotic applications, Industry 4.0, Cloud computing
                        |  may apply
                        br
                    li    
                        span.font-weight-bold 
                          a(href= 'http://www.fswlab.in/facilities') Robotic FSW facility
                        | has been procured under DHI-TCS project
                        br
                    li
                        span.font-weight-bold 
                        | The Lab has achieved a new project on 
                        | "Design and Fabrication of a Cold Plate using Friction Stir Channeling for Thermal Management of Electronic Systems and Battery Packs"
                        | from DST, GoI.
                    li
                        span.font-weight-bold 
                        | FSW Lab congratulates 
                        a(href= 'http://www.fswlab.in/doctorals') Pooja Sarkar,
                        a(href= 'http://www.fswlab.in/staff') Pratik Mishra &  
                        a(href= 'http://www.fswlab.in/collab') Prof. Anandaroop Bhattacharyya  
                        | for their patent on "Friction stir tunneling on pipe wall"
                        br
                            
 
