extends ../layout

block content
  body
    include ../navbar 
    br
    br
    br
    .justify-content-center
    .row.justify-content-center
        h1. |Interns 
    br
    br
    include Interns/data.jade