extends ../layout

block content
  body
    include ../navbar 
    br
    br
    br
    .justify-content-center
    .row.justify-content-center
        h1. |Under Graduate Students 
    br
    br
    include UG/data.jade