.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Title
            th(scope='col') Year
        tbody
            tr
            td 1.
            td
                | Pal, S. K., Kumari, K., Sharma, V., 
                br
                | Counter Rotating Twin Tool with Variable Gap Setup for Friction Stir Welding, 
                br
                |(Filed Ref No: 1297/KOL/2014).
            td
                | 2014
            tr
            td 2.
            td
                | Pal, S. K., Kumari, K., Mahto, R. P., Sharma, V., 
                br
                |A Counter Rotating Pin and Shoulder Tool Arrangement for Friction Stir Weld System, 
                br
                |(Filed Ref No: 201631016398).
            td
                | 2016
            tr
            td 3.
            td
                | Racherla, V., Sharma, V. M., Pal, S. K., 
                br
                | Add-on Kit for Doing Cost Effective, Energy Efficient, Rapid, Solid-State Friction Sintering on Vertical Milling/Drilling/Friction Stir Welding Machines, 
                br
                | (Filed Ref No: 201731037839).
            td
                | 2017
            tr
            td 4.
            td
                | Pal, S. K., Khan, A. R., Ranjan, R., Parikh, C., Pal, S., Chakravarty, D., Maiti, A., 
                br
                | Real time surface defect analysis and correction in friction stir welding process by image processing, 
                br
                | (Filed Ref No: 201831035477).
            td
                | 2018
            tr
            td 5.
            td
                | Pal, S. K., Rohan Basu, R., Singh, A. K., Barua, A., Kumar, A., Ghosh, A., Majumdar, S., Riya, Mishra, D., Pal, S., 
                br
                | Cloud based Remote Manufacturing with Machine Learning based Real Time Control, 
                br
                | (Filed Ref No: 201831024813).
            td
                | 2018