.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Project Details
            th(scope='col') Status
        tbody
            tr
            td 1.
            td
                h5
                    a(href= 'http://www.coeamt.com/industry-project-project1.php') Title: Remote Monitoring and Real Time Control of Defects in Friction Stir Welding Process and Preventive Health Monitoring of Friction Stir Welding Machine 
                br
                | Sponsoring Agency: 
                a(href= 'https://dhi.nic.in/') Department of Heavy Industry (DHI), Ministry of Heavy Industries & Public Enterprises, GoI
                br
                | Industry Partner: Tata Consultancy Services Limited 
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://cse.iitkgp.ac.in/~smisra/') Prof. Sudip Misra
                br
                | Duration: 3 years from December 2017
                br
                | Sanctioned Project cost: Rs. 7.49 Crores
                br
                span.font-italic
                    | Project is being executed under 
                    a(href= 'http://www.coeamt.com/') Centre of Excellence in Advanced Manufacturing Technology
            td
                | Ongoing
            tr
            td 2.
            td
                h5 Title: Design and Fabrication of a Cold Plate using Friction Stir Channeling for Thermal Management of Electronic Systems and Battery Packs
                br
                | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') Department of Science and Technology (DST)  
                br
                | Investigators: 
                br
                a(href= 'http://www.fswlab.in/skpal') Prof Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/ME/faculty/me-anandaroop') Prof Anandaroop Bhattacharya
                br
                | Duration: 3 years from December 2019
                br
                | Sanctioned Project cost: Rs. 39 Lakhs
            td
                | Ongoing
            tr
            td 3.
            td
                h5 Title: Friction Stir Welding of Aluminum and Steel Sheet Metals for Automobile Components 
                br
                span.font-bold
                    | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') Department of Science and Technology (DST), GoI 
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv B Singh
                br
                | Duration: 3 years from March 2016
                br
                | Project cost: Rs. 44 Lakhs
            td
                | Completed
            
            
       
