h4(style='color: #105807; font-family:Georgia, serif; text-align:center') Large number of students having background in Computer Science, Electronics, Instrumentation, Mechanical, and other related fields from different institutes come to our FSW Lab for their Internships in:
h5(style='color: #000000; font-family:Georgia, serif; font-style: italic, text-align:left; padding-left: 30px')
  li
    | Application of Big Data,
  li
    | Implementation of Machine Learning Algorithms,
  li
    | Creation of Digital Twin,  
  li
    | Implementation of Signal and Image Processing Techniques, and
  li
    | Novel Designing of FSW Tooling System, and Develoment of Micro-FSW Machine
  br

h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') UG Interns on FSW : Past and Present
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/nagraj.jpg', alt='')
        br
        span
            h5 Nagaraj N Bhat
            span.font-weight-bold BIT Mesra
            br
            |Image Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Inderjeet.jpg', alt='')
        br
        span
            h5 Inderjeet Yadav
            span.font-weight-bold BIT Mesra
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/shilpi.jpg', alt='')
        br
        span
            h5 Shilpi Kumari
            span.font-weight-bold BIT Mesra
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/cparikh.jpg', alt='')
        br
        span
            h5 Chirag Parikh
            span.font-weight-bold BIT Mesra
            br
            |Image Processing
br
br
br
.row.justify-content-center            
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rranjan.jpeg', alt='')
        br
        span
            h5 Ravi Ranjan
            span.font-weight-bold BIT Mesra
            br
            | Image Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/akhan.jpg', alt='')
        br
        span
            h5 Aaquib R Khan
            span.font-weight-bold BIT Mesra
            br
            |Image Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/rohan.jpg', alt='')
        br
        span
            h5 Rohan Basu Roy
            span.font-weight-bold Calcutta University
            br
            |Cloud Computing & Digital Twin
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/alekhya.jpg', alt='')
        br
        span
            h5 Alekhya Ghosh
            span.font-weight-bold Calcutta University
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/kuldeep.jpg', alt='')
        br
        span
            h5 Kuldeep Murmu
            span.font-weight-bold IIT Kharagpur
            br
            |Dissimilar material joining
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        span
            h5 Soumyajit Chatterjee
            span.font-weight-bold IEM, Kolkata
            br
            |Signal Processing     
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/ankit.jpg', alt='')
        br
        span
            h5 Ankit Singh
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
     .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/aman.jpg', alt='')
        br
        span
            h5 Aman Kumar
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/riya.jpg', alt='')
        br
        span
            h5 Riya
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sananya.jpg', alt='')
        br
        span
            h5 Sananya Majumdar
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/abarua.jpg', alt='')
        br
        span
            h5 Arkadeep Barua
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sagar.jpg', alt='')
        br
        span
            h5 Sagar Sengar
            span.font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sovit.jpg', alt='')
        br
        span
            h5 Sovit Pattnaik
            span.font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sayan.jpg', alt='')
        br
        span
            h5 Sayan Das
            span.font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/ashish.jpg', alt='')
        br
        span
            h5 Asish Mehta
            span.font-weight-bold IIT Kharagpur
            br
            |Twin Tool
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/chaman.jpg', alt='')
        br
        span
            h5 Chaman Gupta
            span.font-weight-bold IIT Kharagpur
            br
            |Underwater FSW
    
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/mannan.jpg', alt='')
        br
        span
            h5 Mannan
            span.font-weight-bold IIT Kharagpur
            br
            |Underwater FSW
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/utkarsh.jpg', alt='')
        br
        span
            h5 Utkarsh Sharma
            span.font-weight-bold IIT Kharagpur
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/abhinav.jpg', alt='')
        br
        span
            h5 Abhinav Gupta
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/pranav.jpg', alt='')
        br
        span
            h5 Pranav Raj
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/saad.jpg', alt='')
        br
        span
            h5 Saad Anwer
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/ratnakshi.jpg', alt='')
        br
        span
            h5 Ratankshi Mandal
            span.font-weight-bold Calcutta University
            br
            |Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sarthak.jpg', alt='')
        br
        span
            h5 Sarthak M Das
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/ashok.jpg', alt='')
        br
        span
            h5 Ashok Priyadarshi
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/sristi.jpeg', alt='')
        br
        span
            h5 Sristi
            span.font-weight-bold BIT Mesra
            br
            |Cloud Computing & Signal Processing
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/shreyansh.jpg', alt='')
        br
        span
            h5 Shreyansh Goenka
            span.font-weight-bold Manipal Institute of Technology
            br
            |Machine Design & Simulation
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/subhadeep.jpg', alt='')
        br
        span
            h5 Subhadeep Sahana
            span.font-weight-bold IIEST Shibpur
            br
            |Machine Design & Simulation
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/bsp.jpg', alt='')
        br
        span
            h5 Bhalchandra Patil
            span.font-weight-bold IIT Kharagpur
            br
            |Friction Stir Channeling
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Mihir.jpg', alt='')
        br
        span
            h5 Mihir Gupta
            span.font-weight-bold IIT Kharagpur
            br
            |Digital Twin
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/pratik.jpg', alt='')
        br
        span
            h5 Pratik Mishra
            span.font-weight-bold Jalpaiguri Govt. Engg.
            br
            |CNC
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Abhinit.jpg', alt='')
        br
        span
            h5 Abhinit Mahajan
            span.font-weight-bold Netaji Subhas University of Technology
            br
            |Robot to Robot Collaboration
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Abhishek.jpg', alt='')
        br
        span
            h5 Abhishek Ghosh
            span.font-weight-bold IIEST Shibpur
            br
            |Simulation of Friction Stir Channeling
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Abirath.jpg', alt='')
        br
        span
            h5 Abirath Raju
            span.font-weight-bold NIT Trichy
            br
            |Real Time Control of Defects in Robotic FSW
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Arunjeet.jpg', alt='')
        br
        span
            h5 Arunjeet Chakraborty
            span.font-weight-bold BIT Mesra
            br
            |6D Pose Estimation
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Janvita.jpg', alt='')
        br
        span
            h5 Janvita Reddy
            span.font-weight-bold NIT Surat
            br
            |Automated Weld Path Detection for Robotic Welding
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Jayendran.jpg', alt='')
        br
        span
            h5 Jayendran Ravindran
            span.font-weight-bold NIT Trichy
            br
            |Numerical Modeling of corrosion in FSWed Joint
br
br
br
.row.justify-content-center 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Mayukh.jpg', alt='')
        br
        span
            h5 Mayukh Mondal
            span.font-weight-bold Vellore Institute of Technology
            br
            |Hybrid Sensor Fusion of Image and EEG signals to Judge the Product Quality
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Rahul.jpg', alt='')
        br
        span
            h5 Rahul Ajmeira
            span.font-weight-bold BITS Pilani Hyderabad
            br
            |Hybrid Sensor Fusion of Image and EEG signals to Judge the Product Quality
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Ritam.jpg', alt='')
        br
        span
            h5 Ritam Upadhyay
            span.font-weight-bold BIT Mesra
            br
            |Real Time Identification of Shape, Location, Pose of job and Accordingly Gripper Selection
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Vyankatesh.jpg', alt='')
        br
        span
            h5 Vyankatesh Patil
            span.font-weight-bold NIT Trichy
            br
            |Robot to Human Interaction
            
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/pratik.jpg', alt='')
        br
        br
        span
            h4 
            |
            br
            |CNC
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/Mihir.jpg', alt='')
        br
        br
        span
            h4 Mihir Gupta
            |IIT Kharagpur
            br
            |Digital Twin
