br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Book Chapters : 9
br
.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Title1234
            th(scope='col') Year
        tbody
            tr
            td 9
            td
                div
                | Sarkar P., Pal S.K., Bhattacharya A., Shollock B. (2021) An Application from a Defect—A Friction Stir Channeling Approach. In: Davim J.P. (eds) Welding Technology. Materials Forming, Machining and Tribology. Springer, Cham. https://doi.org/10.1007/978-3-030-63986-0_4
            td 2021
            tr
            td 8
            td
                div
                | Sahu S., Pal S.K., Shome M., Srirangam P. (2021) Welding of Dissimilar Metals—Challenges and a Way Forward with Friction Stir Welding. In: Davim J.P. (eds) Welding Technology. Materials Forming, Machining and Tribology. Springer, Cham. https://doi.org/10.1007/978-3-030-63986-0_5
            td 2021
            tr
            td 7
            td
                div
                | Nayak S.S., Mahto R.P., Pal S.K., Srirangam P. (2021) Microstructure and Texture in Welding: A Case Study on Friction Stir Welding. In: Davim J.P. (eds) Welding Technology. Materials Forming, Machining and Tribology. Springer, Cham. https://doi.org/10.1007/978-3-030-63986-0_6
            td 2021
            tr
            td 6
            td
                div
                | Sen D., Pal S.K., Panda S.K. (2021) Tubular Structures: Welding Difficulty and Potential of Friction Stir Welding. In: Davim J.P. (eds) Welding Technology. Materials Forming, Machining and Tribology. Springer, Cham. https://doi.org/10.1007/978-3-030-63986-0_7
            td 2021
            tr
            td 5
            td
                div
                | Mishra D., Pal S.K., Chakravarty D. (2021) Industry 4.0 in Welding. In: Davim J.P. (eds) Welding Technology. Materials Forming, Machining and Tribology. Springer, Cham. https://doi.org/10.1007/978-3-030-63986-0_8
            td 2021
            tr
            td 4
            td
                div
                | Mishra, D., Sahu, S.K., Mahto, R.P., Pal, S.K., Pal, K., “Friction stir welding for joining of polymers. In: Dixit U., Narayanan R. (eds), Strengthening and Joining by Plastic Deformation. Lecture Notes on Multidisciplinary Industrial Engineering, Springer, 123-162.
            td 2019
            tr
            td 3
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Thermomechanical simulation of friction stir welding process using lagrangian method”, Simulation for Design and Manufacturing, Springer, 103-146.
            td 2018
            tr
            td 2
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Numerical modeling methodologies for friction stir welding process”, Computational Methods and Production Engineering, Woodhead Publishing (Elsevier), 125-168.
            td 2017
            tr
            td 1
            td
                div
                | Jain, R., Kumari, K., Kesharwani, R., Kumar, S., Pal, S. K., Singh, S. B., Panda, S. K., Samantaray, A. K., “Frictions stir welding: scope and recent development”, Modern Manufacturing Engineering: Research, Development and Education, Springer, 179-229.
            td 2015
