br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Conference : 32
br
h5.text-center International
.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Title
            th(scope='col') Year
        tbody
            tr
            td 28
            td
                div
                | Hoang, D., Chen, R., Mishra, D., Pal, S. K., Imani, F., “Data fusion cognitive computing for characterization of mechanical property in friction stir welding process”, Proceedings of the ASME 2023, International Design Engineering Technical Conferences & Computers and Information in Engineering Conference, IDETC-CIE 2023, August 20–23, 2023, Boston, MA IDETC-CIE2023-117184.
            td 2023
            tr
            td 27
            td
                div
                | Mishra, D., Pal, S. K., Chakravarty, D., “Tool quality monitoring in friction stir welding process", 4th International and 19th National Conference on Machines and Mechanisms (iNaCoMM 2019), IIT Mandi, 2019.
            td 2019
            tr
            td 26
            td
                div
                | Mypati, O., Pal, S. K., Srirangam, P. “A study on electrical conductivity of micro friction stir-welded dissimilar sheets for hybrid electric vehicles (HEVs)”,  The Minerals, Metals & Materials Series (eds) TMS 148th Annual Meeting & Exhibition Supplemental Proceedings. The Minerals, Metals & Materials Series. Springer.
            td 2019
            tr
            td 25
            td
                div
                | Sahu S., Thorat O., Mahto R.P., Pal S.K., Srirangam P. (2019) “A review and case study on mechanical properties and microstructure evolution in magnesium–steel friction stir welding”. Joshi V., Jordon J., Orlov D., Neelameggham N. (eds), Magnesium Technology 2019, The Minerals, Metals & Materials Series. Springer
            td 2019
            tr
            td 24
            td
                div
                | Sharma, V. M., Racherla, V., Pal, S. K., “Fabrication of copper foam plate using friction sintering”, ASME 2019 14th International Manufacturing Science and Engineering Conference, June 10-14, 2019, Erie, PA, USA.
            td 2019
            tr
            td 23
            td
                div
                | Mahto, RP, Pal, S. K., “A Nano-Indentation study on Intermetallic compound in Friction Stir Welding of AA6061-T6 and AISI304”, 40th International MATADOR Conference on Advanced Manufacturing, Hangzhou, China
            td 2019
            tr
            td 22
            td
                div
                | Sharma, V. M., Racherla, V., Pal, S. K., “Fabrication of large copper foam plates using friction sintering: Effect of tool traverse speed”, 40th International MATADOR Conference on Advanced Manufacturing, Hangzhou, China, (Accepted for publication).
            td 2019
            tr
            td 21
            td
                div
                | Iqbal, Md P, Vishwakarma, Ranjan K., Pal, S. K., Mandal, P., "Friction stir welding of aluminum pipes: a study on the variation of force, torque, power, and temperature" 40th International MATADOR Conference on Advanced Manufacturing, Hangzhou, China, (Accepted for publication)
            td 2019
            tr
            td 20
            td
                div
                | Mypati, O., Sadhu, A., Sahu, S., Mishra, D., Pal, S. K., “Formation of kamacite (Fe, Ni) to increase the mechanical strength of friction stir lap welding of aluminium to steel aided with coating”, 7th Asia Steel International Conference, Bhubaneswar, Odisha.
            td 2018
            tr
            td 19
            td
                div
                | Sahu, S., Mypati, O., Pal, S. K., Singh, S. B., “Effect of tool geometry on weld strength and hardness in friction stir lap welding of dissimilar materials”, 7th Asia Steel International Conference, Bhubaneswar, Odisha.
            td 2018
            tr
            td 18
            td
                div
                | Mahto, R. P., Gaikwad, J., Kumar, R., Pal, S. K.; “Friction stir lap welding of AA6061-T6 and AISI304: Mechanical and metallurgical properties of stir zone”, 7th Asia Steel International Conference, Bhubaneswar, Odisha.
            td 2018
            tr
            td 17
            td
                | Mishra, D., Basu Roy, R., Dutta, S., Pal S. K., Chakravarty D., “Concept of industry 4.0 in friction stir welding”, Industry 4.0 summit.
            td 2018
            tr
            td 16
            td
                div
                | Mahto, R. P., Pal, S. K., “Friction stir lap welding of thin AA6061-T6 and AISI304 sheets at different values of pin penetrations”, ASME 2018 13th International Manufacturing Science and Engineering Conference.
            td 2018
            tr
            td 15
            td
                div
                | Sharma, V. M., Maity, D., Racherla, V., Pal, S. K., “Friction sintering of copper powder using a new rapid, cost effective and energy efficient process”, ASME 2018 13th International Manufacturing Science and Engineering Conference.
            td 2018
            tr
            td 14
            td
                div
                | Sahu, S., Mypati, O., Nayak, S. S., Sarkar, P.,  Pal, S. K. Singh, S. B., “Friction stir welding for joining of dissimilar materials”, 7th International and 28th All India Manufacturing Technology, Design and Research Conference, Anna University, Chennai.
            td 2018
            tr
            td 13
            td
                div
                | Mahto, RP, Kinjawadekar, M., Gupta, C., Pal, S. K., “Effect of pin diameter in underwater friction stir lap welding of dissimilar materials: AA6061-T6 & AISI 304”, 7th International and 28th All India Manufacturing Technology, Design and Research Conference, Anna University, Chennai.
            td 2018
            tr
            td 12
            td
                div
                | Sahu, S. K., Panda, M., Mahto, R. P., Pal, S. K., Pal, K., Das, P., “Experimental investigation to join Al 6063 alloy to polypropylene using friction stir welding”, Proceedings of the 10th International Conference on Precision, Meso, Micro and Nano Engineering (COPEN 10), 727-731.
            td 2017
            tr
            td 11
            td
                div
                | Kumari, K., Mishra, D., Pal, S. K., “Effect of process parameters on the evolution of residual stress in friction stir welding with counter-rotating twin tool”, International Conference on Advanced Materials and Processing Technologies (AMPT-2017), VIT Chennai.
            td 2017
            tr
            td 10
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Simulation of material flow in friction stir welding”, Proceedings of the International Conference on Advances in Materials and Manufacturing, (ICAMM), Hyderabad, 51-56.
            td 2016
            tr
            td 9
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “A coupled thermo-mechanical model to predict forces, temperature and material flow in friction stir welding”, Proceedings of the 6th International and 27th All India Manufacturing Technology, Design and Research Conference (AIMTDR), CoE, Pune, 1892-1895.
            td 2016
            tr
            td 8
            td
                div
                | Kumari, K., Mahto, R. P., Pal, S. K., Singh, S. B., “Comparative study on effect of counter rotating twin tool and single tool on temperature rise during friction stir welding”, Proceedings of the 6th International and 27th All India Manufacturing Technology, Design and Research Conference (AIMTDR), CoE, Pune, 679-682.
            td 2016
            tr
            td 7
            td
                div
                | Sahu, S. K., Mishra, D., Mahto, R. P., Pal, S. K., Pal, K., “Friction stir welding of HDPE sheets-A study on the effect of rotational speed”, Proceedings of the 6th International and 27th All India Manufacturing Technology, Design and Research Conference (AIMTDR), CoE, Pune, 1065-1068.
            td 2016
            tr
            td 6
            td
                div
                | Kesharwani, R., Panda, S. K., Pal, S. K., “Multi objective optimization of friction stir welding parameters for joining of two dissimilar thin aluminum sheets” 3rd International Conference on Material Processing and Characterization (ICMPC), GRIET Hyderabad.
            td 2014
            tr
            td 5
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Finite element simulation of temperature distribution and stress variation in aisi 1040 steel by friction stir welding process”, 5th International and 26th All India Manufacturing Technology, Design and Research Conference (AIMTDR), IIT Guwahati.
            td 2014
            tr
            td 4
            td
                div
                | Kumari, K., Pal, S. K., “Study on the novel twin-tool system in friction stir welding process”, 5th International and 26th All India Manufacturing Technology, Design and Research Conference (AIMTDR), IIT Guwahati.
            td 2014
            tr
            td 3
            td
                div
                | Kumari K., Pal, S. K., “Friction stir processing of al alloy by using twin tool”, International Colloquim on Materials, Manufacturing, and Metrology, (ICMMM) IIT Madras.
            td 2014
            tr
            td 2
            td
                div
                | Kumari K., Pal, S. K., Singh S.B.,”Novel concept of twin-tool in friction stir welding: A study on hardness of non-heat treated and heat treated commercial pure al alloys”, International Conference on Friction Based Processes, (ICFP), IISc Bangalore.
            td 2014
            tr
            td 1
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Finite element simulation of effect of process parameters on forces and spindle torque in friction stir welding”, International Conference on Friction Based Processes, (ICFP), IISc, Bangalore.
            td 2014
br
br
h5.text-center National
.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Title
            th(scope='col') Year
        tbody
            tr
            td 4
            td
                div
                | Iqbal, Md P., Jain, R., Pal, S. K., Mandal, P., “An experimental and numerical study of friction stir pipe welding of AA6061-T6 aluminum alloys”, 56th National Metallurgists` Day and 72nd Annual Technical Meeting (NMD-ATM), Kolkata.
            td 2018
            tr
            td 3
            td.s1
                | Pal, S. K.; “Industry 4.0 in friction stir welding”, National Conference on Advanced Functional Materials Processing and Manufacturing (NCAMMM), CMERI Durgapur.
            td 2018
            tr
            td 2
            td
                div
                | Iqbal, Md P., Jain, R., Pal, S. K., “Finite element modeling of friction stir pipe welding”, National conference on Advanced Functional Materials Processing And Manufacturing, CMERI Durgapur, Excel India Publishers, New Delhi, 72-75.
            td 2017
            tr
            td 1
            td.s1
                | Pal, S. K., Kumari, K., “Friction stir welding: Application and development”, 4th National Conference on Advances in Metrology (Ad-Met), CSIR-CMERI, XIV-XV.
            td 2015

    
