br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') International Journal : 63
.data
    table#ijourntab.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col', onclick='sortTable(1)') Title
            th(scope='col') Year
        tbody
            tr
            td 63
            td
                div
                | Sen, D., Pal, S. K., Panda, S. K., “Numerical simulation on end expansion of tubes fabricated through friction stir welding and validation of fracture behavior”, CIRP Journal of Manufacturing Science and Technology, CIRP.
            td 2023
            tr
            td 62
            td
                div
                | Mypati, O., Polkampally, P. K., Pal, S. K., Srirangam, P., “TEM analysis and molecular dynamics simulation of graphene coated Al-Cu micro joints”, Carbon Trends, Elsevier.
            td 2022
            tr
            td 61
            td
                div
                | Mypati, O., Anwaar, T., Mitra, D., Pal, S. K., Srirangam, P., “Characterization and modelling of Al and Cu busbar during charging and discharging of Li-ion battery for electric vehicles”, Applied Thermal Engineering, Elsevier.
            td 2022
            tr
            td 60
            td
                div
                | Shrivastava, A., Chakraborty, S. S., Pal, S. K., “Thermo-mechanical finite element analysis of single-track deposition of Inconel-625 on AISI-1020 substrate”, Materials Today: Proceedings, Elsevier.
            td 2022
            tr
            td 59
            td
                div
                | Datta, A., Shrivastava, A., Chakraborty, S.S., Pal, S. K., “Effect of work material combination and welding speed in dissimilar friction stir welding of aluminium to steel”, Materials Today: Proceedings, Elsevier.
            td 2022
            tr
            td 58
            td
                div
                | Mypati, O., Sahu, S., Pal, S. K., Srirangam, P., “An investigation of mechanical and electrical properties of friction stir welded Al and Cu busbar for battery pack applications”, Materials Chemistry and Physics, Elsevier, 287, 126373.
            td 2022
            tr
            td 57
            td
                div
                | Mypati, O., Pal, S. K., Srirangam, “Tensile and fatigue properties of aluminum and copper micro joints for Li-ion battery pack applications”, Forces in Mechanics, Elsevier, (Accepted: May 30, 2022).
            td 2022
            tr
            td 56
            td
                div
                | Iqbal, P., Jain, R., Pal, S. K., Mandal, P., Numerical modelling of friction stir welding of pipes : Effect of tool shoulder on mechanical property and metallurgical characterization, J. Manuf. Process. 79 (2022) 326–339.
            td 2022
            tr
            td 55
            td
                div
                | Mypati, O., Pawar, R. M. A., Sengupta, I., Sharma, V. M., Majumder, S. B., Pal, S. K., Srirangam, P., “The synthesis of novel porous graphene anodes for fast charging and improved electrochemical performance for lithium-ion batteries”, Energy Sources, Part A Recover. Util. Environ. Eff. 44 (2022) 4349–4363.
            td 2022
            tr
            td 54
            td
                div
                | Sen, D., Pal, S. K., Panda, S. K., “Fabrication of longitudinal welded tube of aluminium alloy for structural application using friction stir welding process and its characterization”, Archives of Civil and Mechanical Engineering, Springer (Accepted: February 26, 2022).
            td 2022
            tr
            td 53
            td
                div
                | Sadhu, A., Sarkar, S., Chattopadhyay, A., Mypati, O., Pal, S. K., Nath, A. N., “Effect of Laser Shock Peening on micro-structure and mechanical properties of Friction Stir Welded CuCrZr sheets”, Materials Science and Engineering: A, Elsevier, 831, 142238.
            td 2022
            tr
            td 52
            td
                div
                | Mahto, R. P., Rout, M., Pal, S. K., “Mechanism of microstructure evolution and grain growth in friction stir welding of AA6061-T6 and AISI304 in air and water media”, Materials Chemistry and Physics, Elsevier, 273, 125081.
            td 2021
            tr
            td 51
            td
                div
                | Sengupta, I., Kumar, S. S., Pal, S. K., Chakraborty, S., “Investigating the effect of graphite pretreatment and contribution of the oxidizer in the synthesis of graphite oxide by hummers approach”, Fullerenes, Nanotubes and Carbon Nanostructures, Taylor & Francis, 1-12.
            td 2021
            tr
            td 50
            td
                div
                | Mypati, O., Kumar, P. P., Iqbal, P., Pal, S. K., Srirangam, P., “Molecular dynamics simulation of atomic diffusion in friction stir spot welded Al to Cu joints, Mechanics of Advanced Materials and Structures”, Taylor & Francis, 1-7.
            td 2021
            tr
            td 49
            td
                div
                | Rout, M., Singh, S. B., Pal, S. K., “Texture development in 304LN austenitic stainless steel during post-hot-axisymmetric compression”, Proceedings of the Institution of Mechanical Engineers, Part B: Journal of Engineering Manufacture, SAGE Publications, 235, 1131-1143.
            td 2021
            tr
            td 48
            td
                div
                | Marazani, T., Akinlabi, E., Madyira, D., Majumdar, J. D., Pal, S. K., “Microstructural, elemental, mechanical and structural attributes of AA1100/17-4 PH stainless steel composites fabricated via friction stir processing”, Engineering Solid Mechanics, Growing Science, 9, 391-414.
            td 2021
            tr
            td 47
            td
                div
                | Sharma, V. M., Pal, S. K., Racherla, V., Fabrication of Copper Foam Using Friction Processing, Manufacturing Letters, (Accepted: July 01, 2021), https://doi.org/10.1016/j.mfglet.2021.06.004, Elsevier.
            td 2021
            tr
            td 46
            td
                div
                | Sharma, V. M., Pal, S. K., Racherla, V., Effect of tool traverse speed on fabrication of open-cell copper foam using friction processing, The International Journal of Advanced Manufacturing Technology, Springer (Accepted: June 18, 2021)
            td 2021
            tr
            td 45
            td
                div
                | Sahu, S., Mypati, O., Pal, S.K., Shome, M., Srirangam, P., "Effect of weld parameters on joint quality in friction stir welding of Mg alloy to DP steel dissimilar materials", CIRP Journal of Manufacturing Science and Technology, Elsevier Publications (Accepted: 11 June 2021)
            td 2021
            tr
            td 44
            td
                div
                | Mishra, D., Gupta, A., Raj, P., Kumar, A., Anwer, S., Pal, S. K., Chakravarty, D., Pal, S., “Sensor-based real-time information for monitoring and control of a manufacturing process, Engineering Research Express, Vol 3, No 2, https://doi.org/10.1088/2631-8695/ac0777, IOP Publishing
            td 2021
            tr
            td 43
            td
                div
                | Mishra, D., Shree, S., Gupta, A., Priyadarshi, A., Das, S., Pal, S. K., Chakravarty, D., Pal, S., Chattopadhyay, T., Pal, A., “Weld defect localization in friction stir welding process”, Welding in the World, 65, 451–461 (2021). https://doi.org/10.1007/s40194-020-01028-5
            td 2020
            tr
            td 42
            td
                div
                | Kumar, K. Mahumdar, A., Chandra, M. G., Kumar, A., Mishra, D., Pal, S. K., “TransFuse: A Transform Learning based Multi-Sensor Fusion Framework”, IEEE Sensors Letters, IEEE, Accepted on November 11, 2020
            td 2020
            tr
            td 41
            td
                div
                | Sahu, S., Mishra, D., Pal, K., Pal, S. K., “Multi-sensor based strategies for accurate prediction of friction stir welding of polycarbonate sheets”, Proceedings of the Institution of Mechanical Engineers, Part: C Journal of Mechanical Engineering Sciences, Sage Publications, Accepted on August 31, 2020
            td 2020
            tr
            td 40
            td
                div
                | Iqbal, Md P., Vishwakarma, R., Pal, S. K., Mandal, P., “Influence of plunge depth during friction stir welding of aluminum pipes”, Proceedings of the Institution of Mechanical Engineers, Part: B Journal of Engineering Manufacture, Sage Publications, Accepted on July 18, 2020
            td 2020
            tr
            td 39
            td
                div
                | Iqbal, Md P., Tripathi, A., Jain, R., Mahto, R. P., Pal, S. K., Mandal, P., “Numerical modelling of microstructure in friction stir welding of aluminium alloys”, International Journal of Mechanical Sciences, Elsevier Publications, 185, 105882, 2020.
            td 2020
            tr
            td 38
            td
                div
                | Mahto, R. P., Pal, S. K., “Friction Stir Welding of Dissimilar Materials: An Investigation of Microstructure and Nano-Indentation Study”, Journal of Manufacturing Processes, Elsevier Publications, 55, 103-118
            td 2020
            tr
            td 37
            td
                div
                | Sadhu, A., Patrakarmkar, D., Mypati, O., Gopinath, M., Pal, S. K., Nath. A. K., “Performance of additive manufactured Stellite 6 tools in friction stir processing of CuCrZr sheet”, Optics and Laser Technology, Elsevier Publications (Accepted: 22 March 2020).
            td 2020
            tr
            td 36
            td
                div
                | Roy, R. B., Mishra, D., Pal, S. K., Chakravarty, T., Panda S., Chandra M. G., Pal, A., Misra P., Chakravarty, D., Misra S., “Digital twin: current scenario and a case study on a manufacturing process”, The Internal Journal of Advanced Manufacturing Technology, Springer Publications (Accepted: 6 April 2020).
            td 2020
            tr
            tr
            td 35
            td
                div
                | Mishra, D., Gupta, A., Raj, P., Kumar, A., Anwer, S., Pal, S. K., Chakravarty, D., Pal, S., Chakravarty, T., Pal, A., Misra, P., Misra, S., “Real time monitoring and control of friction stir welding process using multiple sensors”, CIRP Journal of Manufacturing Science and Technology, Elsevier Publications (Accepted: 16 March 2020). 
            td 2020
            tr
            tr
            td 34
            td
                div
                | Sadhu, A., Choudhary, A., Sarkar, S., Nair, A. M., Nayak, P., Dadasaheb, P. S., Gopinath, M., Pal, S. K., Nath. A. K., “A study on the influence of substrate pre-heating on mitigation of cracks in direct metal laser deposition of NiCrSiBC-60%WC ceramic coating on Inconel 718”, Surface and Coatings Technology, Elsevier Publications (Accepted: 16 March 2020).
            td 2020
            tr
            tr
            td 33
            td
                div
                | Mahto, R. P., Kumar, R., Pal, S. K., “Characterizations of weld defects, intermetallic compounds and mechanical properties of friction stir lap welded dissimilar alloys”, Materials Characterization, Elsevier Publications, 160, 110115.
            td 2020
            tr
            tr
            td 32
            td
                div
                | Sharma, A., Sharma, V. M., Gugaliya, A., Rai, P., Pal, S. K., Paul, J., “Friction stir lap welding of AA6061 aluminium alloy with a graphene interlayer”, Materials and Manufacturing Processes, Taylor & Francis, (Online: 28 Jan 2020). DOI: 10.1080/10426914.2020.1718694.
            td 2020
            tr
            tr
            td 31
            td
                div
                | Mypati, O., Mishra, D., Sahu, S., Pal, S. K., Srirangam, P., “A study on electrical and electrochemical characteristics of Lithium-ion battery tabs for electric vehicles” Journal of Electronic Materials, Springer (Accepted: 09 October 2019).
            td 2020
            tr
            td 30
            td
                div
                | Iqbal, Md P., Jain, R., Pal, S. K., “Numerical and experimental study on friction stir welding of aluminum alloy pipe” Journal of Materials Processing Technology, Elsevier Publication, 274, 116258.
            td 2019
            tr
            td 29
            td
                div
                | Sharma, A., Sharma, V. M., Sahoo, B., Pal, S. K., Paul, J., “Effect of multiple micro channel reinforcement filling strategy on Al6061-graphene nanocomposite fabricated through friction stir processing”, Journal of Manufacturing Processes, Elsevier Publications, 37, 53–70.
            td 2019
            tr
            td 28
            td
                div
                | Sharma, V. M., Racherla, V., Pal, S. K., “Synthesis of Open-Cell Copper Foam using Friction Sintering”, The International Journal of Advanced Manufacturing Technology, (First Published May 09, 2019), 1-12.
            td 2019
            tr
            td 27
            td
                div
                | Mypati, O., Sadhu, A., Sahu, S., Mishra, D., Pal, S. K., Singh, S. B., Srirangam, P., “Enhancement of joint strength in friction stir lap welding AA6061 to AISI 304 by adding diffusive coating agents” Proceedings of the Institution of Mechanical Engineers, Part B: Journal of Engineering Manufacture, SAGE Journals (First Published April 26, 2019), 1-14.
            td 2019
            tr
            td 26
            td
                div
                | Kumari S., Jain, R., Kuar, U., Yadav, I., Kumar, N., Kumari, K., Kesharwani R. K., Kumar, S., Pal, S., Pal, S. K., Chakravarty, D., “Defect identification in friction stir welding using continuous wavelet transform”, Journal of Intelligent Manufacturing, Springer, 30(2), 483-494.
            td 2019
            tr
            td 25
            td
                div
                | Mahto, R.P., Gupta, C., Kinjawadekar, M., Meenaa, A., Pal, S. K., “Weldability of AA6061-T6 and AISI 304 by underwater friction stir welding” Journal of Manufacturing Processes, Elsevier Publications, 38, 370–386.
            td 2019
            tr
            td 24
            td
                div
                | Mahto, R. P., Anishetty, S., Sarkar, A., Mypati, O., Pal, S. K., Majumdar, J. D., “Interfacial microstructural and corrosion characterizations of friction stir welded AA6061-T6 and AISI304 materials”, Metal and Material International, Springer, 25( 3), 752–767.
            td 2018
            tr
            td 23
            td
                div
                | Sahu, S. K., Mishra, D., Mahto, R. P., Sharma, V. M., Pal, S. K., Pal, K., Banerjee, S., Dash, P., “Friction stir welding of polypropylene sheets”, Engineering Science and Technology, an International Journal, Elsevier Publications, 21(2), 245-254.
            td 2018
            tr
            td 22
            td
                div
                | Sharma, A., Sharma, V. M., Mewar, S., Pal, S. K., Paul, J., “Surface modification of Al6061 by graphene impregnation through a powder metallurgy assisted friction surfacing”, Surface and Coatings Technology, Elsevier Publication, 337, 12-23.
            td 2018
            tr
            td 21
            td
                div
                | Sharma, V. M., Racherla, V., Pal, S. K., “Friction sintering of brass powder, Advances in Materials and Processing Technologies, Taylor & Francis Online, 5(1), 95-103.
            td 2018
            tr
            td 20
            td
                div
                | Roy, R. B., Ghosh, A., Bhattacharyya, S., Mahto, R. P., Kumari, K., Pal, S. K., Pal, S., “Weld defect identification in friction stir welding through optimized wavelet transformation of signals and validation through X-ray micro-CT scan”,The International Journal of Advanced Manufacturing Technology, Springer, 99(1–4), 623–633
            td 2018
            tr
            td 19
            td
                div
                | Mishra, D., Roy, R. B., Dutta, S., Pal, S. K., Chakravarty, D., “A review on sensor based monitoring and control of friction stir welding process and a roadmap to Industry 4.0”, Journal of Manufacturing Processes, 36, 373-397.
            td 2018
            tr
            td 18
            td
                div
                | Jain, R., Kumari, K., Pal, S. K., Singh, S. B., “Counter rotating twin-tool system in friction stir welding process: a simulation study”, Journal of Materials Processing Technology, Elsevier Publication, 255, 121-128.
            td 2018
            tr
            td 17
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Investigation on effect of pin shapes on temperature, material flow and forces during friction stir welding: A simulation study”, Proceedings of the Institution of Mechanical Engineers, Part B: Journal of Engineering Manufacture, SAGE Journals, First Published October 20, 2019, 1-14.
            td 2018
            tr
            td 16
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Finite element simulation of pin shape influence on material flow and forces in friction stir welding”, International Journal of Advanced Manufacturing Technology, Springer, 94 (5-8), 1781-1797.
            td 2018
            tr
            td 15
            td
                div
                | Mahto, R. P., Kumar, R., Pal, S. K., Panda, S. K., “A comprehensive study on force, temperature, mechanical properties and micro-structural characterizations in friction stir lap welding of dissimilar materials (AA6061-T6 & AISI304)”, Journal of Manufacturing Processes, Elsevier Publications, 31, 624–639. 
            td 2018
            tr
            td 14
            td
                div
                | Chauhan, P., Jain, R., Pal, S. K., Singh, S. B., “Modeling of defects in friction stir welding using coupled Eulerian and Lagrangian method”, Journal of Manufacturing Processes, Elsevier Publication, 34( A), 158-166.
            td 2018
            tr
            td 13
            td
                div
                | Sharma, A., Sharma, V. M., Mewar, S., Pal, S. K., Paul, J., “Friction stir processing of Al6061-SiC-graphite hybrid surface composites”, Materials and Manufacturing Processes, Taylor & Francis Online, 33 (7), 795-804. 
            td 2018
            tr
            td 12
            td
                div
                | Parikh, C., Ranjan, R., Khan, A. R., Jain, R., Mahto, R. P., Chakravarty, D., Pal, S., Pal, S. K., “Volumetric defect analysis in friction stir welding based on three dimensional reconstructed images”, Journal of Manufacturing Processes, Elsevier Publication, 29, 96-112.
            td 2017
            tr
            td 11
            td
                div
                | Kesharwani, R. K., Basak, S., Panda, S. K., Pal, S. K., “Improvement in limiting drawing ratio of aluminum tailored friction stir welded blanks using modified conical tractrix die”, Journal of Manufacturing Processes, Elsevier Publication, 28 (1), 137-155.
            td 2017
            tr
            td 10
            td
                div
                | Sahu, P. K., Pal, S., Pal, S. K., Jain, R., “Influence of plate position, tool offset and tool rotational speed on mechanical properties and microstructure of dissimilar Al/Cu friction stir welding joints”, Journal of Material Processing Technology, Elsevier Publications, 235, 55-67.
            td 2016
            tr
            td 9
            td
                div
                | Sahu, P. K., Kumari, K., Pal, S., Pal, S. K., “Hybrid fuzzy-grey-Taguchi based multi weld quality optimization of Al/Cu dissimilar friction stir welded joints”, Advances in Manufacturing, Springer, 4 (3), 237-247.
            td 2016
            tr
            td 8
            td
                div
                | Ranjan, R., Khan, A. R., Parikh, C., Jain, R., Mahto, R. P., Pal, S., Pal, S. K., Chakravarthy, D., “Classification and identification of surface defects in friction stir welding : An image processing approach, Journal of Manufacturing Processes, Elsevier Publication, 22, 237-253.
            td 2016
            tr
            td 7
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “A study on the variation of forces and temperature in a friction stir welding process: A finite element approach”, Journal of Manufacturing Processes, Elsevier Publication, 23, 278-286.
            td 2016
            tr
            td 6
            td
                div
                | Mahto, R. P., Bhoje, R., Pal, S. K., Joshi, H. S., Das, S., “A study on mechanical properties in friction stir lap welding of AA 6061-T6 and AISI 304”, Material Science and Engineering: A, Elsevier Publications, 652, 136-144.
            td 2016
            tr
            td 5
            td
                div
                | Kumar, U., Yadav, I., Kumari, S., Kumari, K., Kumar, N., Kesharwani, R. K., Jain, R., Kumar, S., Pal, S., Chakravarthy, D., Pal, S. K., “Defect identification in friction stir welding using discrete wavelet analysis”, Advances in Engineering Software, Elsevier Publication, 85, 43-50.
            td 2015
            tr
            td 4
            td
                div
                | Kumari, K., Pal, S. K., Singh, S. B., “Friction Stir Welding by using Counter-rotating Twin Tool”, Journal of Material Processing Technology, Elsevier Publications, 215, 132–141.
            td 2015
            tr
            td 3
            td
                div
                | Kesharwani, R. K., Panda, S. K., Pal, S. K., “Experimental Investigations on Formability of Aluminium Tailor Friction Stir Welded Blanks in Deep Drawing Process”, Journal of Materials Engineering and Performance, Springer, 24 (2), 1038–1049
            td 2015
            tr
            td 2
            td
                div
                | Bhat, N. N., Kumari, K., Dutta, S., Pal, S. K., Pal, S., “Friction Stir Weld Classification by Applying Wavelet Analysis and Support Vector Machine on Weld Surface Images”, Journal of Manufacturing Processes, Elsevier, 20(1), 274-281.
            td 2015
            tr
            td 1
            td
                div
                | Kesharwani, R. K., Panda, S. K., Pal, S. K., “Multi Objective Optimization of Friction Stir Welding Parameters for Joining of Two Dissimilar Thin Aluminium Sheets”, Procedia Materials Science, Elsevier, 6, 178–187.
            td 2014
