br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') National Journal : 1
.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Title
            th(scope='col') Year
        tbody
            tr
            td 1
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Finite element simulation of temperature and strain distribution during friction stir welding of AA2024 aluminum alloy”, Journal of the Institution of Engineers (India): Series C, Springer, 98(1), 37-43.
            td 2017
