br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Patents Filed : 13
.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Title
            th(scope='col') Year
        tbody
            tr
            td 13
            td
                | Karmakar, S., Swarnakar, R., Pal, S. K.,
                br
                | Cost-effective high-speed friction stir welding system for mass production of dissimilar metal structures and method thereof
                br
                | (Filed Ref No: 202331018431).
             td
                | 2023
            tr
            td 12
            td
                | Swarnakar, R., Karmakar, S., Pal, S. K., 
                br
                | Fabrication of internally cladded bimetallic tubes and components through friction stir back extrusion
                br
                | (Filed Ref No: 202331015441).
             td
                | 2023
            tr
            td 11
            td
                | Mypati, O., Polkampally, P. K., Pal, S. K., Srirangam, P.,  
                br
                | Graphene-induced high conductive friction stir spot welded aluminum and copper tabs for Li-ion batteries
                br
                | (Filed Ref No: 202231006720).
             td
                | 2022
            tr
            td 10
            td
                | Kumar, K., Majumdar, A., Chandra M. G., Kumar, A., Mishra, D., Pal, S. K.,  
                br
                | Method and system for multi sensor fusion using tranform learning
                br
                | (Filed Ref No: 202021036163, US20220101205A1).
             td
                | 2020
            tr
            td 9
            td
                | Racherla, V., Sharma, V. M., Pal, S. K.,  
                br
                | A system for fabrication of bonded metal foam metal sandwich structures and process thereof
                br
                | (Filed Ref No: 202031016609).
            td
                | 2020
            tr
            td 8
            td
                | Sarkar, P., Pal, S. K., Bhattacharya, A., Mishra, P., 
                br
                | A method for friction stir spiral tunneling (FSST) in pipe and a system to carry out such method
                br
                | (Filed Ref No: 202031010846).
            td
                | 2020
            tr
            td 7
            td
                | Racherla, V., Sharma, V. M., Pal, S. K., 
                br
                | A system for solid state sintering of hollow metallic cylindrical components and a method of such sintering
                br
                | (Filed Ref No: 202031006307).
            td
                | 2020
            tr
            td 6
            td
                | Mishra, D., Pal, S. K., Gupta, A., Raj, P., Kumar A., Anwer S., Chakravarty, D., Pal, S., Chakravarty, T., Pal, A., Misra, P., and Misra, S. 
                br
                | A System for Real Time Monitoring, Prediction and Control of Weld Quality in Friction Stir Welding 
                br
                | (Filed Ref No: 202031000072).
            td
                | 2020
            tr
            td 5
            td
                | Pal, S. K., Rohan Basu, R., Singh, A. K., Barua, A., Kumar, A., Ghosh, A., Majumdar, S., Riya, Mishra, D., and Pal, S. 
                br
                | Cloud based Remote Manufacturing with Machine Learning based Real Time Control, 
                br
                | (Filed Ref No: 201831024813).
            td
                | 2018
            tr
            td 4
            td
                | Pal, S. K., Khan, A. R., Ranjan, R., Parikh, C., Pal, S., Chakravarty, D., Maiti, A., 
                br
                | Real time surface defect analysis and correction in friction stir welding process by image processing
                br
                | (Filed Ref No: 201831035477).
            td
                | 2018
            tr
            td 3
            td
                | Racherla, V., Sharma, V. M., Pal, S. K., 
                br
                | Add-on Kit for Doing Cost Effective, Energy Efficient, Rapid, Solid-State Friction Sintering on Vertical Milling/Drilling/Friction Stir Welding Machines 
                br
                | (Filed Ref No: 201731037839).
            td
                | 2017
             tr
            td 2
            td
                | Pal, S. K., Kumari, K., Mahto, R. P., Sharma, V., 
                br
                |A Counter Rotating Pin and Shoulder Tool Arrangement for Friction Stir Weld System
                br
                |(Filed Ref No: 201631016398).
            td
                | 2016
            tr
            td 1
            td
                | Pal, S. K., Kumari, K., Sharma, V., 
                br
                | Counter Rotating Twin Tool with Variable Gap Setup for Friction Stir Welding
                br
                |(Filed Ref No: 1297/KOL/2014).
            td
                | 2014
