h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') UG on FSW : Past and Present
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/Juhi.jpg', alt='')
        br
        span
            h5 Juhi Gaikwad
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/AbhishekMeena.JPG', alt='')
        br
        span
            h5 Abhishek Meena
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/DHAIRYA_NARENDRA_KEDIA.jpg', alt='')
        br
        span
            h5 Dhairya Narendra Kedia
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/ApoorvaGoswami.jpg', alt='')
        br
        span
            h5 Apoorva Goswami
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/Kashishgarg.JPG', alt='')
        br
        span
            h5 Kashish Garg
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/SPANDANA_SILLA.jpg', alt='')
        br
        span
            h5 Spandana Silla
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/gkrishna.jpg', alt='')
        br
        span
            h4 Gopal Krishna
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/RajKolamuri.jpg', alt='')
        br
        span
            h5 Raj Kolamuri
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/UdayChand.jpg', alt='')
        br
        span
            h5 Uday Chand Dampanaboyina
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Umarchand.jpg', alt='')
        br
        span
            h5 Umar Chand Dampanaboyina
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/srakesh.jpg', alt='')
        br
        span
            h5 Sai Rakesh
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/ATHARVAPUSALKAR.jpg', alt='')
        br
        span
            h5 Atharva Pulaskar
br
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/UG/awasudeo.jpg', alt='')
        br
        span
            h5 Abhijeet Wasudeo Bagade
    //.col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/11.png', alt='')
        br
        br
        span
            h4 Umar Chand Dampanaboyina
