h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') PG on FSW
br
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2020
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/UdayChand.jpg', alt='')
        br
        span
            h5 Uday Chand Dampanaboyina
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Umarchand.jpg', alt='')
        br
        span
            h5 Umar Chand Dampanaboyina
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/srakesh.jpg', alt='')
        br
        span
            h5 Sai Rakesh
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Piyush.jpg', alt='')
        br
        span
            h5 Piyush Khuslani
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2019
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Ranjan.jpg', alt='')
        br
        span
            h5 Ranjan Kumar Vishwakarma
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/jreddy.jpg', alt='')
        br
        span
            h5 Jsvn Reddy
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2018
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/atripathi.jpg', alt='')
        br
        span
            h5 Ashish Tripathi
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/AbhishekSingh.jpg', alt='')
        br
        span
            h5 Abhishek Singh Thakur
     .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/ssingh.jpg', alt='')
        br
        span
            h5 Safal Singh
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2017
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/agupta.jpg', alt='')
        br
        span
            h5 Abhishek Gupta
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Iqbal.jpg', alt='')
        br
        span
            h5 Md Perwej Iqbal
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2016
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/smewar.jpg', alt='')
        br
        span
            h5 Sanchit Mewar
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/rkumar.jpg', alt='')
        br
        span
            h5 Ravi Kumar Patel
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/prashant.jpg', alt='')
        br
        span
            h5 Prashant Chauhan
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/ssuman.jpg', alt='')
        br
        span
            h5 Saurabh Suman
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2015
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/mpatole.jpg', alt='')
        br
        span
            h5 Moahanesh Patole
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/Vyas.jpg', alt='')
        br
        span
            h4 Vyas Mani Sharma
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/sdas.jpg', alt='')
        br
        span
            h5 Sumit Das
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2014
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/abhowmick.jpg', alt='')
        br
        span
            h5 Akash Suvankar Bhowmick
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/sswain.jpg', alt='')
        br
        span
            h5 Sunit Swain
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2013
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/chauhan.jpg', alt='')
        br
        span
            h5 Deepak Chauhan
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2012
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/mpatil.jpg', alt='')
        br
        span
            h5 Mahesh Patil Umakant
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/rthube.jpg', alt='')
        br
        span
            h5 	R Thube
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') 2011
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/PG/randhir.jpg', alt='')
        br
        span
            h5 Randhir Oran


