h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Sponsored Projects (Total Amount : ~ Rs. 77.72 Cr)
.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Project Details
            th(scope='col') Status
        tbody
            tr
            td 1.
            td
                h5 Title: Design and Fabrication of a Cold Plate using Friction Stir Channeling for Thermal Management of Electronic Systems and Battery Packs
                br
                | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') Department of Science and Technology (DST)  
                br
                | Investigators: 
                br
                a(href= 'http://www.fswlab.in/skpal') Prof Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/ME/faculty/me-anandaroop') Prof Anandaroop Bhattacharya
                br
                | Duration: 3 years from December 2019
                br
                | Sanctioned Project cost: Rs. 39 Lakhs
            td
                | Ongoing
            tr
            td 2.
            td
                h5
                    a(href= 'http://www.coeamt.com/industry-project-project1.php') Title: Remote Monitoring and Real Time Control of Defects in Friction Stir Welding Process and Preventive Health Monitoring of Friction Stir Welding Machine 
                br
                | Sponsoring Agency: 
                a(href= 'https://dhi.nic.in/') Department of Heavy Industry (DHI), Ministry of Heavy Industries & Public Enterprises, GoI
                br
                | Industry Partner: Tata Consultancy Services Limited 
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://cse.iitkgp.ac.in/~smisra/') Prof. Sudip Misra
                br
                | Duration: 3 years from December 2017
                br
                | Amount : Rs. 7.49 Cr
                span.font-italic
                    | Project is being executed under 
                    a(href= 'http://www.coeamt.com/') Centre of Excellence in Advanced Manufacturing Technology
            td
                | Ongoing
            tr
            td 3.
            td
                h5
                    a(href= 'http://www.coeamt.com/industry-project-project1.php') Title: Innovation Lab 
                br
                | Sponsoring Agency: 
                a(href= 'https://dhi.nic.in/') Department of Heavy Industry (DHI), Ministry of Heavy Industries & Public Enterprises, GoI
                br
                | Investigator:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                | Duration: 1 year from December 2017
                br
                | Amount : Rs. 24.87 Cr
                span.font-italic
                    | Project is being executed under 
                    a(href= 'http://www.coeamt.com/') Centre of Excellence in Advanced Manufacturing Technology
            td
                | Ongoing
            tr
            td 4.
            td
                h5 Title: Opened & Intelligent Plug-in Hybrid Electric Vehicle (PHEV) Technologies for Smart Indian Cities 
                br
                span.font-bold
                | Sponsoring Agency: 
                a(href= 'https://mhrd.gov.in/') Ministry of Human Resource Development (MHRD), GoI 
                br
                | Investigators:
                br
                a(href= 'http://www.iitkgp.ac.in/department/EE/faculty/ee-smukh') Prof. Siddhartha Mukhopadhyay
                br
                a(href= 'http://www.iitkgp.ac.in/department/EE/faculty/ee-alokkanti') Prof. Alok Kanti Deb
                br
                a(href= 'http://www.iitkgp.ac.in/department/EE/faculty/ee-amit')  Prof. Amit Patra
                br
                a(href= 'http://www.iitkgp.ac.in/department/EE/faculty/ee-aroutray') Prof. Aurobinda Routray
                br
                a(href= 'http://www.iitkgp.ac.in/department/CE/faculty/ce-bhargab') Prof. Bhargab Maitra
                br
                a(href= 'http://www.iitkgp.ac.in/department/EE/faculty/ee-cc') Prof. Chandan Chakraborty
                br
                a(href= 'http://www.iitkgp.ac.in/department/MI/faculty/mi-dc') Prof. Debashish Chakravarty
                br
                a(href= 'http://www.iitkgp.ac.in/department/ME/faculty/me-d1dd8694b6108ff7bccc19acd47be4ff') Prof. Dhananjay Kumar Srivastava
                br
                a(href= 'http://www.iitkgp.ac.in/department/CS/faculty/cs-pallab') Prof. Pallab Dasgupta
                br
                a(href= 'http://www.iitkgp.ac.in/department/CS/faculty/cs-ppchak') Prof. Partha Pratim Chakrabarti
                br
                a(href= 'http://www.iitkgp.ac.in/department/ME/faculty/me-pkd') Prof. Prasanta Kumar Das
                br
                a(href= 'http://www.iitkgp.ac.in/department/CS/faculty/cs-soumya') Prof. Soumyajit Dey
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-sudipto') Prof. Sudipto Ghosh
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya Kanta Pal
                br
                | Mr. Prasanta Sarkar
                br
                a(href= 'http://www.iitkgp.ac.in/department/EE/faculty/ee-btanmoy') Prof. Tanmoy Bhattacharya
                br
                | Duration: 3 years from October 2016
                br
                | Amount : Rs. 19.89 Cr
            td
                | Ongoing
            tr
            td 5.
            td
                h5 Title: Thermo-mechanically Processed High Strength Baintic Steel Rails for Indian Railways 
                br
                | Sponsoring Agency: 
                a(href= 'http://www.indianrailways.gov.in/railwayboard/') Ministry of Indian Railways, GoI
                br
                | Investigator:
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv B Singh
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/CH/faculty/ch-sc') Prof. Sudipto Chakraborty
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-debalay') Prof. Debalay Chakrabarti
                br
                | Duration : 3 years from June 2016
                br
                | Amount : Rs. 1.98 Cr
            td
                | Completed
            tr
            td 6.
            td
                h5 Title: Friction Stir Welding of Aluminum and Steel Sheet Metals for Automobile Components 
                br
                | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') Department of Science and Technology (DST), GoI 
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv B Singh
                br
                | Duration: 3 years from March 2016
                br
                | Amount : Rs. 44.04 Lakh
            td
                | Completed
            tr
            td 7.
            td
                h5 Title: Thermo-mechanically Processed High Strength Baintic Steel Rails for Indian Railways (Bridge Project)
                br
                | Sponsoring Agency: 
                a(href= 'https://rdso.indianrailways.gov.in/') Research Designs & Standards Organisation (RDSO), GoI
                br
                | Investigator:
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv B Singh
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-debalay') Prof. Debalay Chakrabarti
                br
                a(href= 'http://www.iitkgp.ac.in/department/CH/faculty/ch-sc') Prof. Sudipto Chakraborty
                br
                | Duration : 3 years from June 2016
                br
                | Amount : Rs. 4.25 Lakh
            td
                | Completed
            tr
            td 8.
            td
                h5 Title: Research on AGV
                br
                | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') IIT Kharagpur
                br
                | Investigators:
                br
                a(href= 'http://www.iitkgp.ac.in/department/MI/faculty/mi-dc') Prof. Debashish Chakravarty
                br
                a(href= 'http://www.iitkgp.ac.in/department/CS/faculty/cs-ppchak') Prof. Partha Pratim Chakrabarti
                br
                a(href= 'http://www.iitkgp.ac.in/department/CS/faculty/cs-ppd') Prof. Partha Pratim Das
                br
                a(href= 'http://www.iitkgp.ac.in/department/ME/faculty/me-dkpra') Prof. Dilip Kumar Pratihar
                br
                a(href= 'http://www.iitkgp.ac.in/department/AE/faculty/ae-masinha') Prof. Manoranjan Sinha
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya Kanta Pal
                br
                | Duration: 3 years from June 2014
                br
                | Amount : Rs. 2.18 Cr
            td
                | Completed
            tr
            td 9.
            td
                h5 Title: Steel Technology Centre
                br
                | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') Department of Science and Technology (DST), GoI &emsp;
                a(href= 'https://steel.gov.in/') Ministry of Steel, GoI
                br
                | Investigators:
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv B Singh
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/CH/faculty/ch-sc') Prof. Sudipto Chakraborty
                br
                | Duration: 5 years from December 2007
                br
                | Amount : Rs. 20.25 Cr
            td
                | Completed
            tr
            td 10.
            td
                h5 Title: Multi-sensor Based Tool Condition Monitoring in Drilling
                br
                | Sponsoring Agency: 
                a(href='https://csirhrdg.res.in/') Council of Scientific & Industrial Research (CSIR), GoI
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                | Duration: 3 years from April 2007
                br
                | Amount : Rs. 7.56 Lakh
            td
                | Completed
            tr
            td 11.
            td
                h5 Title: Machine Tool Vibration Monitoring
                br
                | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') ISIRD Project from IIT Kharagpur &emsp;
                a(href= 'https://www.nrf.ac.za/') NRF, South Africa
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'https://www.up.ac.za/mechanical-and-aeronautical-engineering/article/48434/staff') Prof. P. S. Heyns (University of Pretoria)
                br
                | Duration: 3 years from November 2006
                br
                | Amount : Rs. 3.5 Lakh
            td
                | Completed
            tr
            td 12.
            td
                h5 Title: Drill Wear Monitoring using Soft Computing Techniques
                br
                | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') ISIRD Project from IIT Kharagpur 
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                | Duration: 3 years from November 2004
                br
                | Amount : Rs. 3 Lakh
            td
                | Completed
            tr
            td 13.
            td
                h5 Title: Through Process Modelling and Simulation of Hot Rolling of Steel using Bond Graph 
                br
                | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') Department of Science and Technology (DST), GoI 
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                | Duration: 3 years from August 2003
                br
                | Amount : Rs. 4.68 Lakh
            td
                | Completed         
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Consultancy Projects
.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Project Details
            th(scope='col') Status
        tbody
            tr
            td 1.
            td
                h5 Title: Development of machine learning based exhauster health monitoring and prediction system 
                br
                | Industry: 
                a(href= 'https://sail.co.in/en/page/rdcis') Research & Development Centre for Iron & Steel (RDCIS) SAIL,Ranchi
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                | Duration: 18 months from October 2022
                br
            td
                | Ongoing
            tr
            td 2.
            td
                h5 Title: Development and Implementation of an Artificial Intelligence enabled weld defect identification and classification system 
                br
                | Industry: 
                a(href= 'http://grse.in/') Garden Reach Shipbuilders & Engineers Ltd
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a Prof. Nisith R Mandal
                br
                | Duration: 6 months from September 2021
                br
            td
                | Ongoing
            tr
            td 3.
            td
                h5 Title: Microstructure Property Correlation in Hot and Cold Rolled High Strength Steels 
                br
                | Industry: 
                a(href= 'https://www.tatasteel.com/') Tata Steel Limited
                br
                | Investigators:
                br
                a(href= 'http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv B Singh
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/CH/faculty/ch-sc') Prof. Sudipto Chakraborty
                br
                | Duration: 2 years from January 2017
                br
            td
                | Completed
            tr
            td 4.
            td
                h5 Title: Heat Transfer Characterization of Nozzles Used in Continuous Caster & Designing of Heat Transfer Simulation for Secondary Cooling Region 
                br
                | Sponsoring Agency: 
                a(href= 'https://dst.gov.in/') R&D Centre for Iron and Steel (RDCIS), Ranchi
                br
                | Investigators:
                br
                a(href= 'http://www.iitkgp.ac.in/department/CH/faculty/ch-sc') Prof. Sudipto Chakraborty
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
            td
                | Completed
            tr
            td 5.
            td
                h5 Title: Finite element analysis of stress distribution in a nipple-electrode joint 
                br
                | Sponsoring Agency: 
                a(href= 'https://hegltd.com/') HEG Limited, Bhopal
                br
                | Investigator:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
            td
                | Completed
            tr
            td 6.
            td
                h5 Title: Design and Development of Mathematical Model for Ultrafast Cooling of Steel Strips
                br
                | Industry: 
                a(href= 'https://www.tatasteel.com/') Tata Steel Limited
                br
                | Investigators:
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
                a(href= 'http://www.iitkgp.ac.in/department/CH/faculty/ch-sc') Prof. Sudipto Chakraborty
                br
            td
                | Completed
            tr
            td 7.
            td
                h5 Title: Up-gradation of the Manufacturing Techniques of Producing Brass Utensils for the Artisans at Hazo, Guwahati
                br
                | Industry: State Bank of India
                br
                | Investigators:
                br
                a(href= 'http://www.iitg.ac.in/psr/') Prof. P. S. Robi 
                br
                a(href= 'http://www.fswlab.in/skpal') Prof. Surjya K Pal
                br
            td
                | Completed
