h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Doctoral Scholar
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Karali.jpg', alt='')
        br
        span
            h5 Dr. Karali Patra
            |   IIT Patna
            br
            a(href='https://www.iitp.ac.in/~kpatra/') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/sukhomay.png', alt='')
        br
        span
            h5 Dr. Sukhomay Pal
            |   IIT Guwahati
            a(href='http://www.iitg.ac.in/spal/') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/probir.png', alt='')
        br
        span
            h5 Dr. Probir Saha
            |   IIT Patna
            br
            a(href='http://iitp.irins.org/profile/62513') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/kamal.png', alt='')
        br
        span
            h5 Dr. Kamal Pal
            |   VSSUT, Burla
            br
            a(href='http://www.vssut.ac.in/faculty-profile.php?furl=kamal-pal') Peronsal Website
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/amrita.png', alt='')
        br
        span
            h5 Dr. Amrita Priyadarshini
            br
            |   BITS Pilani
            a(href='https://universe.bits-pilani.ac.in/hyderabad/amritap/Profile') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/soumya.png', alt='')
        br
        span
            h5 Dr. Soumya S Mohapatra
            |   NIT Rourkela
            br
            a(href='https://www.nitrkl.ac.in/FacultyProfile.aspx?e=mohapatras') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/samik.png', alt='')
        br
        span
            h5 Dr. Samik Dutta
            | CMERI
            br
            a(href='https://www.cmeri.res.in/user-details/1290') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/harshadeep.png', alt='')
        br
        span
            h5 Dr. Harshadeep S Joshi
            | DBATU University
            br
            a(href='https://dbatu.ac.in/mech-hsjoshi/') Peronsal Website
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/ravishankar.png', alt='')
        br
        span
            h5 Dr. Ravi Shankar S N
            | Malnad College of Engineering
            br
            a(href='http://mcehassan.ac.in/department/mech/index.php/faculty?id=15') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/tiara.png', alt='')
        br
        span
            h5 Dr. A M Tiara
            br
            a(href='https://www.linkedin.com/in/a-m-tiara-52000128/?originalSubdomain=in') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/matru.png', alt='')
        br
        span
            h5 Dr. Matruprasad Rout
            | KIIT University
            br
            a(href='https://mechanical.kiit.ac.in/profiles/matruprasad-rout/') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/ishita.png', alt='')
        br
        span
            h5 Dr. Ishita Sarkar
            | CMERI
            br
            a(href='https://www.cmeri.res.in/user-details/1512') Peronsal Website
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/samarshi.png', alt='')
        br
        span
            h5 Dr. Samarshi Chakraborty
            | PDF at IIT Kanpur
            br
            a(href='https://www.linkedin.com/in/dr-samarshi-chakraborty-96250890/?originalSubdomain=in') Peronsal Website
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/ramk.jpg', alt='')
        br
        span
            h5 
                a(data-toggle='modal', data-target='#Ram',href='#Ram') Dr. Ramkumar Kesharwani
            | PDF
     // Modal
    #Ram.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Dr. Ramkumar Kesharwani
                    br
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/ramsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-sushanta.panda') Dr. Sushanta K Panda
                    br
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Friction stir welding and deep drawing of aluminum tailored blanks for light weight automotive applications
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    | The invention of friction stir welding had created good scopes of replacing steels by some aluminum alloys (particularly 5XXX series) in the fabrication of tailor welded blanks. However, there was very limited information available in open literature regarding formability (in particular, drawability) performance of tailor-made aluminum friction stir welded blanks. Therefore, two mostly used aluminum alloys, namely AA5754-H22 and AA5052-H32 with dissimilar gauge (2.0 and 2.5 mm) were initially friction stir welded using optimized parameters, to be ensured to get its maximum weld strength. Subsequently, the fabricated optimized aluminum tailor friction stir welded blanks (TFSWBs) were examined for its formability in terms of limiting drawing ratio (LDR) in a laboratory scale standard deep drawing test. The obtained results were found to be very close to that of the base metals; however, for further improvement in the LDR, a new die (named as modified conical tractrix die, MCTD) was designed, developed and tested by using the fabricated optimized TFSWBs. Significant improvement in the LDR was observed once using MCTD. Moreover, a finite element model of the LDR test was developed and validated using the experimental results with impressively high accuracy. This model was used to analyze the strain evolution pattern during the drawing of the fabricated TFSWBs, which revealed a new and more pronounced reason behind the improvement in the LDR obtained with MCTD.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | Automotive industry: Fabrication of body-in-white, fuel tank, door and floor panel etc.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: ramkumar31kesharwani[at]gmail.com
                        li
                            a(href='https://www.researchgate.net/profile/Ram_Kesharwani') Research Gate
                        li
                            a(href='https://scholar.google.co.in/citations?user=UatCtvAAAAAJ&hl=en') Google Scholar
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Closebr
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Kanchan.jpg', alt='')
        br
        span
            h5 
                a(data-toggle='modal', data-target='#kanchan',href='#kanchan') Dr. Kanchan Kumari
            | PMEC, Behrampur
            br
            a(href='https://www.pmec.ac.in/index.php/ms-kanchan-kumari') Peronsal Website
     // Modal
    #kanchan.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Dr. Kanchan Kumari
                    br
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Kanchansmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Novel Twin Tool Based Friction Stir Welding of Aluminum Alloys
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    | Most of the research woks in FSW have been conducted using the traditional single tool system. This leads to non-unifrom temperature distribution across the weld plates. FSW also requires heavy clamping force abd high downward force to maintain the contact between the tool and the workpiece intact. To tackle this, a twin tool has been indignenously develeoped and farbicated. This consists of two tools rotating in opposite directions and moving simulateneously. The tool system requires less clamping force as the two tools counter each other. It disrupts and fragments the residual oxide layer remained in the first weld region by the follower tool, thus, enhancing the weld quality. Good quality welds can be achieved with higher welding speeds. 
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: kanchan.1087[at]gmail.com
                        li
                            a(href='https://www.researchgate.net/profile/Kanchan_Kumari5') Research Gate
                        //li
                            a(href='https://scholar.google.co.in/citations?user=YwlcmQoAAAAJ&hl=en') Google Scholar
                        //li
                            a(href= 'https://in.linkedin.com/in/rahul-jain-432b0417') LinkedIn
                        //li
                            a(href= 'https://www.iitbhilai.ac.in/index.php?pid=rahul') Personal Website  
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Closebr
                    
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Rahul.jpg', alt='')
        br
        span
            h5 
                a(data-toggle='modal', data-target='#Rahul',href='#Rahul') Dr. Rahul Jain
            | IIT Bhilai
            br
            a(href='https://www.iitbhilai.ac.in/index.php?pid=rahul') Peronsal Website
     // Modal
    #Rahul.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Dr. Rahul jain
                    br
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Rahulsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    a(href='http://www.iitkgp.ac.in/department/MT/faculty/mt-sbs22') Prof. Shiv B Singh
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Numerical modeling and validation of friction stir welding with different tool configurations
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    | Study of material flow mechanism, forces and defect formation during FSW process are important as it could help in proper selection of process parameter and pin design. Their experimental study is exhaustive due to lots of post weld analyses. Numerical modeling could be an efficient method to study the material flow and defect formation. This will reduce the cost associated for material and development of infrastructure. In the current research work two different three-dimensional thermo-mechanical models are developed to simulate FSW. 
                    br
                    | (a) A three dimensional thermo-mechanically coupled model was developed based on Lagrangian theory. The developed model is used to model FSW for AA2024 and AA6061 aluminum alloys. For AA2024 material, the model is validated with the forces and spindle torque data obtained from the literature. Two different pin shapes viz. conical and threaded conical are compared in terms of forces, material flow, material velocity, effective strain and strain rate. Threaded conical pin produced higher deformation and vertical flow of the material among the two. For AA6061 material, in-house experiments are performed to validate the model with temperature, force and spindle torque. Three different pin shapes, namely, cylindrical, triflat and square are compared. For flat pin surfaces bulk material flow is prominent, while shearing or layer by layer material flow is more prominent for cylindrical pin. Distribution of the material is uniform across the stirred region for the triflat pin while it is stretched towards the advancing side for the square pin. 
                    br
                    | (b) Prediction of defect using Lagrangian model is difficult as void cannot be introduced in it. Therefore, another model based on coupled Eulerian Lagrangian is developed to predict the defect formation. The defect prediction is based on volume of fluid principle. Effect of tilt angle on defect formation is studied and simulation predicted defect is compared with the experiments. The developed model accurately predicted the defective as well as defective weld. 
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | 1. The developed model will help industry to pick the efficient tool geometry that will produce higher weld strength.
                    br
                    | 2. The model developed based on coupled Eulerian Lagrangian method can predict the defective or non-defective weld based on input process parameter.
                    br
                    | 3. This will reduce a lot of experimental requirement to come up with optimized process parameters.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: rahul[at]iitbhilai.ac.in
                        li
                            a(href='https://www.researchgate.net/profile/Rahul_Jain50') Research Gate
                        li
                            a(href='https://scholar.google.co.in/citations?user=YwlcmQoAAAAJ&hl=en') Google Scholar
                        li
                            a(href= 'https://in.linkedin.com/in/rahul-jain-432b0417') LinkedIn
                        li
                            a(href= 'https://www.iitbhilai.ac.in/index.php?pid=rahul') Personal Website  
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Closebr
br
br
.row.justify-content-center                
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Raju.jpg', alt='')
        br
        span
            h5 
                a(data-toggle='modal', data-target='#Raju',href='#Raju') Dr. Raju Prasad Mahto
            |  NIT Surat
            br
            a(href='https://www.linkedin.com/in/raju-prasad-96a51051/') Peronsal Website
     // Modal
    #Raju.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Dr. Raju Prasad Mahto  
                    br
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Rajusmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Friction Stir Lap Welding of AA6061-T6 and AISI304 in Air and Underwater Media: Mechanical Studies and Material Characterizations
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    | The joining of dissimilar materials such as AA6061-T6 and AISI34 has the potential for tailoring the properties of a structure. However, because of the differences in the mechanical and metallurgical properties of AA6061-T6 and AISI304, there exist several challenges in fabrication. Friction stir welding (FSW) is an advanced solid-state welding technique having the potential to produce a sound weld between aluminum and steel substrates. Microstructure, intermetallic compounds (IMC), crystallographic texture, corrosion, and weld defects are the main factors controlling the mechanical and metallurgical properties of the welds. These factors rely on process parameters and weld media. Scanty literature is available on the effect of process parameters on the FSW of AA6061-T6 and AISI304 in air and water media.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | Sub-frame of Honda Accord
                    br
                    br
                    img(src='./img/profile/raju.jpg', alt='')
                    br
                    | Ref:http://world.honda.com/automobiletechnology/FSW/topic7/20.03.2018
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: rajukec1[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Raju_Mahto') Research Gate
                        li
                            a(href='https://scholar.google.co.in/citations?user=YmnbCEcAAAAJ&hl=en') Google Scholar
                        li
                            a(href= 'https://www.linkedin.com/in/raju-prasad-96a51051/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Vyas.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#vyas',href='#vyas') Dr. Vyas Mani Sharma
            |  PDF at Tel Aviv University
            br
            a(href='https://www.linkedin.com/in/vyas-mani-sharma-b33aa6a0') Peronsal Website
     // Modal
    #vyas.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Vyas Mani Sharma
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Vyassmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-vikranth.racherla') Dr. Vikranth Racherla
                    br
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Fabrication of open-celled copper foam using friction sintering
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Metal foams have received considerable attention due to their low density, high strength to weight ratio, large compressive deformations at constant flow stress, high gas permeability, and large surface area. Sintering and dissolution process (SDP), sintering with blowing agents, direct gas blowing, sintering with hollow spheres, reaction sintering, investment casting, etc., can be used to create metal foams. While most methods listed above result in closed-cell foams, SDP results in open-cell foams. While closed-cell foams are used in structural applications, open-cell foams are used in the heat exchanger, sound absorption, catalysis, boiling, and filtration applications. Metal foam can be fabricated on a friction stir welding machine using friction sintering process. 
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Multifunctional heat exchanger (University of Virginia)
                    br
                    br
                    img(src='./img/profile/vyas.jpg', alt='')
                    br
                    br
                    | Ref:https://www2.virginia.edu/ms/research/wadley/thermal-management.html
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: vyasmani742014[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Vyas_Sharma') Research Gate
                        li
                            a(href='linkedin.com/in/vyas-sharma-58a702189') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
    


    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Debasish.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#debasish',href='#debasish') Dr. Debasish Mishra
            |  PDF at University of Connecticut
            br
            a(href='https://www.linkedin.com/in/debasish-mishra-070a3845') Peronsal Website
     // Modal
    #debasish.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Debasish Mishra
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Debasishsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br 
                    a(href='http://www.iitkgp.ac.in/department/MI/faculty/mi-dc') Prof. Debashish Chakravarty
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Industry 4.0 based, monitoring and control of friction stir welding process
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Applying digitization techniques to FSW is expected to improve the overall quality of the process. Integrating the machine with several sensors will provide a set of values of physical parameters which could be analyzed to monitor the process in real time and control it as required. 
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: debsmishra02[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Debasish_Mishra4') Research Gate
                        li
                            a(href=' https://scholar.google.com/citations?user=hqbr-n0AAAAJ&hl=en') Google Scholar
                        li
                            a(href=' https://www.linkedin.com/in/debasish-mishra-070a3845') LinkedIn
                            
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
 
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/iman.png', alt='')
        br
        span
            h5 Dr. Iman Sengupta 

br
br
.row.justify-content-center           
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Omkar.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#omkar',href='#omkar') Dr. Omkar Mypati
            |  PDF at University of Nottingham
            br
            a(href='https://www.linkedin.com/in/omkar-mypati-310aab184') Peronsal Website 
     // Modal
    #omkar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Omkar Mypati
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Omkarsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    a(href='https://warwick.ac.uk/fac/sci/wmg/people/profile/?wmgid=1044') Dr. Prakash Srirangam (WMG, UK)
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Fabrication of electronic components by friction stir welding in the Li-ion battery packs 
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | With the increasing rate of pollution and globalization, industries are adopting innovative technologies that can be probable solutions towards these concerns. Electric vehicles (EVs) are one such example among these innovations. EVs consist of powerful batteries consisting of micro-thickness tabs and interconnected with busbars. They are intended to obtain a high current source by means of these battery packs. Copper (Cu) and aluminum (Al) are two such metals which are being widely used in this area owing to their high thermal conductivity. The joining of this sheets through conventional fusion welding techniques will not be feasible because of the high amount of temperature involved with these methods. Hence, advanced solid state welding techniques i.e. friction stir welding (FSW) was emerged. Thus, research on µ-friction stir welding (µ-Friction Stir Welding) process was become a necessity. As these materials (Al-Cu) have similar FCC crystal structure, it is very difficult to examine the diffusion mechanisms, so a molecular dynamics study is a potentially useful approach to studying the joining mechanisms.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Battery cells and packs with electrode tabs for electric vehicles
                    br
                    br
                    img(src='./img/profile/Omkar.JPG', alt='')
                    br
                    br
                    | Ref:https://link.springer.com/article/10.1007/s40430-018-1542-5
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: omkar.mypati[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Omkar_Mypati') Research Gate
                        li
                            a(href=' https://scholar.google.co.in/citations?user=vMWcJmQAAAAJ&amp;hl=en') Google Scholar
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close


    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Abhijit.jpg', alt='')
        br
        span
            h5 
                a(data-toggle='modal', data-target='#asadhu',href='#sasadhu') Dr. Abhijit Sadhu
             |  
            br
            a(href='https://www.linkedin.com/in/abhijit-sadhu-7296934b') Peronsal Website        
     // Modal
    #asadhu.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Abhijit Sadhu
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Abhijitsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-6dbdbf29bae16a810e264a8bd6e4b821') Prof. A K Nath
                    br   
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Development of tools for friction stir welding of high melting point materials using direct metal laser deposition technique
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    br
                    br
                    img(src='./img/profile/Capture.JPG', alt='')
                    br
                    br
                    | Ref:http://www.iter.org
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: sadhu.abhi4all[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Abhijit_Sadhu') Research Gate

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close



br
br
br
br
br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') MS Scholar
br
br
.row.justify-content-center
    .col-md-2.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        span
            h5 Suprim Sardar
            | University of Engineering and Management, Kolkata
            br
            a(href='https://www.researchgate.net/profile/Suprim-Sardar') Peronsal Website

