h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Doctoral Scholar
br
br
.row.justify-content-center

    
    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Iqbal.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#iqbal',href='#iqbal') Md. Perwej Iqbal
     // Modal
    #iqbal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Md. Perwej Iqbal
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Iqbalsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    a(href='https://www.research.manchester.ac.uk/portal/partha.mandal.html') Dr. Parthasarathi Mandal (The University of Manchester, UK)
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Development of an integrated thermo-mechanical and metallurgical model of friction stir welding of pipes
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Friction stir welding (FSW) has been successfully used to weld materials in various joint configurations such as butt, lap, and T, and recently it is being employed for joining of pipes. Industries like thermal power, hydro power, petroleum refineries, smelting plants, and rolling industries use pipelines for transportation of various fluids. There is an emerging need for establishing proper installation methodology and working of these pipes.  The fabrication of these pipes is mostly being performed by using the fusion welding techniques, however, making use of FSW to fabricate them will not only be cost-effective but also will be environmental friendly. Further, an integrated thermo-mechanical and metallurgical model for FSW of pipes will be useful to predict various thermal properties such as strain, strain rate, temperature of the weld, mechanical properties such as force, torque, and metallurgical properties such as distribution of grain boundary, average grain size etc. In addition to the above, making use of modeling techniques prior to experiments optimizes the process, and increases the amount of process innovation. 
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | FSW can be directly implement to join the aluminum tubular bus-bars for HV substations and pipelines industries
                    br
                    br
                    img(src='./img/profile/Iqbal.JPG', alt='')
                    br
                    br
                    | Ref:https://www.123rf.com/stockphoto/pipe_welding.html?sti=ljt4ct9kw1yq24im9s|&mediapopup=33311652
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: iqbal.iitkgp[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Md_Iqbal11') Research Gate
                        li
                            a(href=' https://scholar.google.com/citations?hl=en&user=6BrueOMAAAAJ') Google Scholar
                        li
                            a(href=' https://www.linkedin.com/in/iqbal2912') LinkedIn
                            
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close

       
    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Debolina.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#debolina',href='#debolina') Debolina Sen
     // Modal
    #debolina.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Debolina Sen
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Debolinasmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-sushanta.panda') Dr. Sushanta K Panda
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Fabrication of friction stir welded aluminium tubes and their formability performance
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Tubular components made of aluminium are widely used as structural components in automobile and aerospace industries because of its low cost, higher energy absorption capability and better corrosion resistance. The tubular components can be manufactured by extrusion as well as different welding processes. The extrusion process is very expensive and is limited to fabrication of small diameter tubes. Hence for manufacturing tubes with large diameter to thickness ratio, welding is the possible solution. Fusion welding techniques create a lot of detrimental intermetallics and defects in the joints thus decreasing the quality of the tubes.  Friction stir welding (FSW) process is an advanced welding technique where the welding takes place in its solid state i.e. without melting. Hence the joint formed is near to homogeneous in nature which enhances the joint properties and quality of the tubes. Tubular components which are employed in critical areas, needing good mechanical and metallurgical properties and can withstand failure can be manufactured by FSW. FSW of curved surfaces has got many challenges. Thus the objective of this research is to successfully weld tubular components using FSW process and study the forming properties of the welded tubes.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Wheel rims
                    br
                    br
                    img(src='./img/profile/Debolina.JPG', alt='')
                    br
                    br
                    | Ref:https://spinoff.nasa.gov/Spinoff2008/ip_4.html
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: debolinasen90[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Debolina_Sen2') Research Gate
                        li
                            a(href=' https://www.linkedin.com/in/debolina-sen-3b118b45/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close                    
           
          
           
    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/soumya.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#soumya',href='#soumya') Soumya Nayak
     // Modal
    #soumya.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Soumya Sangita Nayak
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Soumyasmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br 
                    a(href='https://warwick.ac.uk/fac/sci/wmg/people/profile/?wmgid=1044') Dr. Prakash Srirangam (WMG, UK)
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Numerical modeling of texture evolution in friction stir welding process technique
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Grain orientation or texture affects all most of all properties of the material. The properties of the material ultimately affect the performance of that material in the final applications. In any kind of application, either casting material (component like turbine blade, gas turbine vanes etc.) or deformed material (either deep drawn/extruded/forged) or joined material (weld joint etc.) or any material which undergoes some kind of heat treatment processes (hardening, annealing etc.). In each case, texture is different. The aim in every case is to get the desired texture to fulfil the performance of that material. Here the research objective is to see the texture evolution in friction stir welding (FSW) process which is a solid state joining technique and now a day this process is used widely due to its huge advantages upon fusion welding process. Heat and deformation are the two major factors to produce the weld joint in this process which is produced by the FSW tool. Due to these two factors, alteration in crystallographic texture occurs in the material. Numerical modeling will better give an avenue to understand the FSW process and see the texture evolution in FSW as experimental investigation to see the texture evolution with electron back scatter diffraction in the whole sample is difficult and costly. Once the model will be built, it will be easier to see the control of the texture evolution by varying the FSW process parameters (tool welding speed, tool rotational speed, plunge depth, tool tilt angle) to get the desired properties (e.g. weld strength, corrosion resistance etc.)
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Aerospace Industry
                    br
                    br
                    img(src='./img/profile/soumya.JPG', alt='')
                    br
                    br
                    | Ref:https://www.appropedia.org/Compositesin_the_Aircraft_Industry)
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: soumyasangitanayak.nayak[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Soumya_Sangita_Nayak') Research Gate
                        li
                            a(href=' https://scholar.google.co.in/citations?user=a6ow_HQAAAAJ&hl=en') Google Scholar
                        li
                            a(href=' https://in.linkedin.com/in/soumya-sangita-nayak-7b371130') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close                


    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pooja.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#pooja',href='#pooja') Pooja Sarkar
     // Modal
    #pooja.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Pooja Sarkar
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Poojasmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    a(href='https://www.kcl.ac.uk/people/barbara-shollock') Prof. Barbara Shollock (King's College, London)
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Implementation of Friction Stir Channeling (FSC) as a successful manufacturing process to fabricate cooling channels and to do their thermal analysis to elevate the heat transfer rate for the use in HEV/EV battery pack cooling.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | With the advancement of battery efficiency that can give more power, cooling of battery pack for EVs is becoming a challenge that has to be addressed by the heat exchanger manufacturer. Friction Stir Channeling (FSC), enables us to create a continuous integral channel inside a monolithic plate in a single pass. The aim of the present work is to create cooling channels of different profiles (linear, serpentine, helical or as required by the product to be cooled) by FSC and also to control the shape and size of the channel. This work also includes the hydraulic and thermal analysis of the channels produced for optimum heat transfer.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | FSC cool plates in cooling Lithium ion battery pack
                    br
                    br
                    img(src='./img/profile/pooja.JPG', alt='')
                    | Ref:www.lianinno.com
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: sarkarpooja90[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Pooja_Sarkar4') Research Gate
                        li
                            a(href='https://www.linkedin.com/in/pooja-sarkar-6944b1176/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close                    

                br
                br
                br
                br                 
.row.justify-content-center(style='padding-top:5%')   

    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Anant.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#ananta',href='#ananta') Ananta Dutta
     // Modal
    #ananta.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Ananta Dutta
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Anantsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-sushanta.panda') Dr. Sushanta K Panda
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Fabrication of Aluminium Honeycomb Sandwich Structure using Friction Stir Welding
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Objective of this work is to manufacture aluminium honeycomb sandwich panel using corrugation forming and Friction Stir Welding processes. This work aims to reduce the possibility of damages like core collapse, interface debonding etc. due to manufacturing errors. To make this process well-suitable for industrial implementation to fabricate aluminium honeycomb panels in a cost-effective and time-efficient way is the key target of this work.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | High speed train body                     
                    br
                    br
                    img(src='./img/profile/honeycomb.jpg', alt='')
                    br
                    br
                    | Ref:http://aluminium-honeycomb-panels.com/news/Application-of-Aluminium-Honeycomb-Panel.html
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: ad26[at]iitkgp.ac.in
                        li
                            a(href=' https://www.researchgate.net/profile/Ananta_Dutta') Research Gate
                        li
                            a(href=' https://www.linkedin.com/in/ananta-dutta-49674087/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
          
    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Nurool.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#Nurool',href='#Nurool') Md Noorul Hoda
     // Modal
    #Nurool.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif; font-weight-bold') Md Noorul Hoda
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Nuroolsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor 
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-a62567b46de3c8efcf74bdf8317532b3') Dr. Jinu Paul
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | A Novel Method of Manufacturing of Cost Effective Graphene-Aluminum Metal Matrix Composite (Direct Exfoliation of Graphite into Graphene by Friction Stir Processing)
                    //h6 Research Statement
                    //p
                        | Friction stir welding (FSW) is a solid state welding process originally developed for joining of low melting point alloys like Al & Mg alloys, which are otherwise difficult to be joined by the conventional fusion welding processes.  Further, it offers superior property in the welded joints as it does not involve melting. This inspired extending the application of FSW to high melting point materials like Cu, Fe, Ti and their alloys. One of the major problems of FSW of these materials is the tool wear. This necessitates the development of tool materials having high strength, toughness and wear resistance at elevated temperatures. One possible solution could be the coated tools having hard coating on tough base material. H13 tool steel is one of the most commonly used tool material in FSW of low melting point materials like Al and Mg alloys. However, high temperature involved during FSW of high strength and high melting point materials like Cu alloys leads to increased tool wear. Therefore, the current study focuses on direct metal laser deposition (DMLD) of Stellite-6, a hardfacing alloy having high temperature wear resistance property on H13 tool steel for the fabrication of tools for friction stir welding of copper alloys.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Indusrial Application
                    p
                    | Aluminum-graphene composite for Engine Block Cylinder Liner
                    br
                    br
                    img(src='./img/profile/Noorul.JPG', alt='')
                    br
                    br
                    | Ref:www.enginebuildermag.com/2015/09/liners-and-sleeves/11932946497.htm
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: hoda.mdnoorul[at]gmail.com
                        li
                            a(href=' https://www.researchgate.net/profile/Md_Hoda3') Research Gate
                        li
                            a(href=' https://in.linkedin.com/in/md-noorul-hoda-80612924') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close            
  

  
    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Ranjan.jpg', alt='')
        br
        span
            h5
                a(data-toggle='modal', data-target='#ranjan',href='#ranjan') Ranjan Kumar Vishwakarma
     // Modal
    #ranjan.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Ranjan Kumar Vishwakarma
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Ranjansmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    a(href='http://www.iitkgp.ac.in/department/ME/faculty/me-ndaschakladar') Dr. Nilanjan Das Chakladar
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | A Novel Method of applications of solid-state technology based on friction-stir processing (FSP) principles for metal matrix composites (MMCs)
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | Materials with high specific strength and stiffness have demanded for various applications such as aviation, aerospace, defense, automotive etc. that mostly use on light weighting, better fuel efficiency, and higher pay load. Composite materials have received wide acceptance owing to their greater potential for use as components/products with high specific strength, stiffness, enhanced wear resistance, and better high temperature properties compared to monolithic metals and alloys. Friction stir processing (FSP) has emerged as an effective tool for grain refinement and microstructure modification. It has now been also demonstrated that FSP is an attractive method to process composites. A wide range of reinforcements that include ceramic and metallic particles, carbon nanostructures have been incorporated in metallic matrices by FSP. This process has proved its potential in fabricating both bulk and surface composites. Nanocomposites and hybrid composites have been also fabricated by FSP. A major concern in fabricating the metallic matrix composites (MMCs) has been the inhomogeneity of particle distribution. A number of tool designs have emerged in order to distribute the particles uniformly. It has also been demonstrated how the process parameters affect the microstructure and properties of the processed composites. FSP has been also found useful in homogenizing the microstructure of as-cast and other MMCs that suffer from microstructural inhomogeneity such as particle clustering.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Cost reduction in FSW of high melting point materials like copper alloys through enhancement of tool life by Direct Metal Laser Deposition
                    br
                    br
                    img(src='./img/profile/ranjan.JPG', alt='')
                    | Ref:https://images.app.goo.gl/L7ZNtafKB7dQNEaH6
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: ranjan5790[at]gmail.com
                        li
                            a(href=' https://www.linkedin.com/in/ranjan-vishwakarma-45383a4b/') LinkedIn
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close



    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Rishab.jpg', alt='')
        br
        span
            h5 
                a(data-toggle='modal', data-target='#rishabh',href='#rishabh') Rishabh Swarnkar
     // Modal
    #rishabh.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-dialog-scrollable(role='document')
            .modal-content
                .modal-header
                    h4#exampleModalCenterTitle.modal-title(style='color: #d9534f; font-family:Georgia, serif') Rishabh Swarnkar
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    img.rounded-circle.float-right(src='./img/profile/Rishabsmall.jpg', alt='')
                    span(aria-hidden='true') ×
                .modal-body
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Supervisor
                    a(href='http://www.fswlab.in/skpal') Prof. Surjya K Pal
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Doctoral Research Problem
                    p
                    | Fabrication and microstructural evaluation of high ductile tube through friction stir extrusion (FSE) process
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Research Statement
                    p
                    | FSE is a severe plastic deformation (SPD) based novel technique. It has been used to consolidate and extrude bulk material, chips, and powdered metal into bulk wire and tube. In this process, a rotating cylindrical flat-faced tool is inserted into the die containing bulk billet or chips with a predefined feed rate. The friction at the tool specimen surface softens the material and is forced to flow radially outward similar to back extrusion. For the wire and rod, the softened material flows through the hole of the tool, and in the case of the tube, the softened material flows through the clearance in between the tool and die. The stirring action of the tool causes the SPD to lead to refined microstructure. It can be used as a solid-state recycling technique for chips and scraps. The process is highly energy efficient as compared to the conventional recycling technique and the permanent material loss is also low, due to reduced oxidation as the material does not reach the melting temperature. On the second side, the fine-grained microstructure pours additional advantages of high corrosion resistance as well as high ductility at room temperature. This extrusion method opens a new door for recycling the scraps and convert them into a finished and semifinished product. The finished product can be utilized in automobile, aerospace, and structural applications. Thus the objective of the work is to successfully extrude the high ductile seamless tubes through the FSE process.
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Industrial Application
                    p
                    | Tubular Chassis
                    br
                    br
                    img(src='./img/profile/rishab.jpg', alt='')
                    | Ref:https://grabcad.com/library/tubular-chassis-2
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Publications
                    a(href='http://www.fswlab.in/pub') Link
                    br
                    br
                    h5(style='color: #009999; font-family:Georgia, serif') Quick Links
                    ul
                        li
                            | Email: rishabhswarnkar17@gmail.com
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close

                br
                br
                br
                br                 
.row.justify-content-center(style='padding-top:5%') 

    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        span
            h5 Suparna

    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Souvik.jpg', alt='')
        br
        span
            h5 Souvik Karmakar           
    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Avishek.jpg', alt='')
        br
        span
            h5 Avishek Mukherjee


    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/Interns/11.png', alt='')
        br
        span
            h5 Riya Tapwal

                br
                br
                br
                br                 
.row.justify-content-center(style='padding-top:5%') 

    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Pravallika.jpg', alt='')
        br
        span
            h5 Pravallika Bandari
    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/Kranthi.jpg', alt='')
        br
        span
            h5 Kranthi Kumar
            br
            br
            br
            br                 
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') MS Scholar
br
br
.row.justify-content-center
    .col-md-3.text-center
        img.rounded-circle.profile-img(src='./img/Students/doctoral/pravanjan.png', alt='')
        br
        span
            h5 Pravanjan Nayak
            br
            br          
