br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') International Journal : 184
.data
    table#ijourntab.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Title
            th(scope='col') Year
        tbody
            tr
            td 184
            td
                div
                | Tapwal, R., Mishra, S., Pal, S. K., “PerBlocks: A Reconfigurable Blockchain for Service Provisioning in Industrial Environment”, IEEE Transactions on Industrial Informatics, IEEE.
            td 2023
            tr
            td 183
            td
                div
                | Sen, D., Pal, S. K., Panda, S. K., “Numerical simulation on end expansion of tubes fabricated through friction stir welding and validation of fracture behavior”, CIRP Journal of Manufacturing Science and Technology, CIRP.
            td 2023
            tr
            td 182
            td
                div
                | Bhattacharyya, S., Mohanty, D., Kumar, P., Das, S. K., Sahoo, P., Pal, S. K., Chakraborty, S., “A corrosion and tribo-failure analysis of Ni-P-Cu coated mild steel (AISI-1040) at varied copper concentration”, Engineering Failure Analysis, Elsevier.
            td 2023
            tr
            td 181
            td
                div
                | Mondal, M, Ajmeria, R., Halder, T., Chakravarti, D., Misra, S., Pal, S. K., “A Critical Survey of EEG-based BCI Systems for Applications in Industrial Internet of Things”, IEEE Communications Surveys and Tutorials, IEEE.
            td 2022
            tr
            td 180
            td
                div
                | Mypati, O., Polkampally, P. K., Pal, S. K., Srirangam, P., “TEM analysis and molecular dynamics simulation of graphene coated Al-Cu micro joints”, Carbon Trends, Elsevier.
            td 2022
            tr
            td 179
            td
                div
                | Tapwal, R., Dev, P., Mishra, S., Pal, S. K., “Traces: Inkling Blockchain for Distributed Storage in Constrained IIoT Environments”, IEEE Transactions on Industrial Informatics, IEEE.
            td 2022
            tr
            td 178
            td
                div
                | Mishra, D., Priyadarshi, A., Das, S. M., Shree, S., Gupta, A., Pal, S. K., Chakravarty, D., “Industry 4.0 Application in Manufacturing for Real-Time Monitoring and Control”, Journal of Dynamics, Monitoring and Diagnostics.
            td 2022
            tr
            td 177
            td
                div
                | Upadhyay, R., Asi, A., Nayak, P., Prasad, N., Mishra, D., Pal, S. K., “Real-time deep learning–based image processing for pose estimation and object localization in autonomous robot applications”, The International Journal of Advanced Manufacturing Technology, Springer, 1-15.
            td 2022
            tr
            td 176
            td
                div
                | Mypati, O., Anwaar, T., Mitra, D., Pal, S. K., Srirangam, P., “Characterization and modelling of Al and Cu busbar during charging and discharging of Li-ion battery for electric vehicles”, Applied Thermal Engineering, Elsevier.
            td 2022
            tr
            td 175
            td
                div
                | Shrivastava, A., Chakraborty, S. S., Pal, S. K., “Thermo-mechanical finite element analysis of single-track deposition of Inconel-625 on AISI-1020 substrate”, Materials Today: Proceedings, Elsevier.
            td 2022
            tr
            td 174
            td
                div
                | Tapwal, R., Deb, P. K., Misra, S., Pal, S. K., “Amaurotic Entity-Based Consensus Selection in Blockchain-Enabled IIoT”, IEEE Internet of Things Journal, IEEE.
            td 2022
            tr
            td 173
            td
                div
                | Tapwal, R., Deb, P. K., Misra, S., Pal, S. K., “Shadows: Blockchain Virtualization for Interoperable Computations in IIoT Environments”, IEEE Transactions on Computers, IEEE.
            td 2022
            tr
            td 172
            td
                div
                | Datta, A., Shrivastava, A., Chakraborty, S.S., Pal, S. K., “Effect of work material combination and welding speed in dissimilar friction stir welding of aluminium to steel”, Materials Today: Proceedings, Elsevier.
            td 2022
            tr
            td 171
            td
                div
                | Mypati, O., Sahu, S., Pal, S. K., Srirangam, P., “An investigation of mechanical and electrical properties of friction stir welded Al and Cu busbar for battery pack applications”, Materials Chemistry and Physics, Elsevier, 287, 126373.
            td 2022
            tr
            td 170
            td
                div
                | Mypati, O., Pal, S. K., Srirangam, “Tensile and fatigue properties of aluminum and copper micro joints for Li-ion battery pack applications”, Forces in Mechanics, Elsevier, (Accepted: May 30, 2022).
            td 2022
            tr
            td 169
            td
                div
                | Iqbal, P., Jain, R., Pal, S. K., Mandal, P., Numerical modelling of friction stir welding of pipes : Effect of tool shoulder on mechanical property and metallurgical characterization, J. Manuf. Process. 79 (2022) 326–339.
            td 2022
            tr
            td 168
            td
                div
                | Mypati, O., Pawar, R. M. A., Sengupta, I., Sharma, V. M., Majumder, S. B., Pal, S. K., Srirangam, P., “The synthesis of novel porous graphene anodes for fast charging and improved electrochemical performance for lithium-ion batteries”, Energy Sources, Part A Recover. Util. Environ. Eff. 44 (2022) 4349–4363.
            td 2022
            tr
            td 167
            td
                div
                | Sen, D., Pal, S. K., Panda, S. K., “Fabrication of longitudinal welded tube of aluminium alloy for structural application using friction stir welding process and its characterization”, Archives of Civil and Mechanical Engineering, Springer (Accepted: February 26, 2022).
            td 2022
            tr
            td 166
            td
                div
                | Sadhu, A., Sarkar, S., Chattopadhyay, A., Mypati, O., Pal, S. K., Nath, A. N., “Effect of Laser Shock Peening on micro-structure and mechanical properties of Friction Stir Welded CuCrZr sheets”, Materials Science and Engineering: A, Elsevier, 831, 142238.
            td 2022
            tr
            td 165
            td
                div
                | Mahto, R. P., Rout, M., Pal, S. K., “Mechanism of microstructure evolution and grain growth in friction stir welding of AA6061-T6 and AISI304 in air and water media”, Materials Chemistry and Physics, Elsevier, 273, 125081.
            td 2021
            tr
            td 164
            td
                div
                | Sengupta, I., Kumar, S. S., Pal, S. K., Chakraborty, S., “Investigating the effect of graphite pretreatment and contribution of the oxidizer in the synthesis of graphite oxide by hummers approach”, Fullerenes, Nanotubes and Carbon Nanostructures, Taylor & Francis, 1-12.
            td 2021
            tr
            td 163
            td
                div
                | Mypati, O., Kumar, P. P., Iqbal, P., Pal, S. K., Srirangam, P., “Molecular dynamics simulation of atomic diffusion in friction stir spot welded Al to Cu joints, Mechanics of Advanced Materials and Structures”, Taylor & Francis, 1-7.
            td 2021
            tr
            td 162
            td
                div
                | Rout, M., Singh, S. B., Pal, S. K., “Texture development in 304LN austenitic stainless steel during post-hot-axisymmetric compression”, Proceedings of the Institution of Mechanical Engineers, Part B: Journal of Engineering Manufacture, SAGE Publications, 235, 1131-1143.
            td 2021
            tr
            td 161
            td
                div
                | Marazani, T., Akinlabi, E., Madyira, D., Majumdar, J. D., Pal, S. K., “Microstructural, elemental, mechanical and structural attributes of AA1100/17-4 PH stainless steel composites fabricated via friction stir processing”, Engineering Solid Mechanics, Growing Science, 9, 391-414.
            td 2021
            tr
            td 160
            td
                div
                | Sharma, V. M., Pal, S. K., Racherla, V., Fabrication of Copper Foam Using Friction Processing, Manufacturing Letters, (Accepted: July 01, 2021), https://doi.org/10.1016/j.mfglet.2021.06.004, Elsevier.
            td 2021
            tr
            td 159
            td
                div
                | Sharma, V. M., Pal, S. K., Racherla, V., Effect of tool traverse speed on fabrication of open-cell copper foam using friction processing, The International Journal of Advanced Manufacturing Technology, Springer (Accepted: June 18, 2021)
            td 2021
            tr
            td 158
            td
                div
                | Sahu, S., Mypati, O., Pal, S.K., Shome, M., Srirangam, P., "Effect of weld parameters on joint quality in friction stir welding of Mg alloy to DP steel dissimilar materials", CIRP Journal of Manufacturing Science and Technology, Elsevier Publications (Accepted: 11 June 2021)
            td 2021
            tr
            td 157
            td
                div
                | Mishra, D., Gupta, A., Raj, P., Kumar, A., Anwer, S., Pal, S. K., Chakravarty, D., Pal, S., “Sensor-based real-time information for monitoring and control of a manufacturing process, Engineering Research Express, Vol 3, No 2, https://doi.org/10.1088/2631-8695/ac0777, IOP Publishing
            td 2021
            tr
            td 156
            td
                div
                | Mishra, D., Shree, S., Gupta, A., Priyadarshi, A., Das, S., Pal, S. K., Chakravarty, D., Pal, S., Chattopadhyay, T., Pal, A., “Weld defect localization in friction stir welding process”, Welding in the World, Springer, Accepted on November 18, 2020
            td 2020
            tr
            td 155
            td
                div
                | Kumar, K. Mahumdar, A., Chandra, M. G., Kumar, A., Mishra, D., Pal, S. K., “TransFuse: A Transform Learning based Multi-Sensor Fusion Framework”, IEEE Sensors Letters, IEEE, Accepted on November 11, 2020
            td 2020
            tr
            td 154
            td
                div
                | Sahu, S., Mishra, D., Pal, K., Pal, S. K., “Multi-sensor based strategies for accurate prediction of friction stir welding of polycarbonate sheets”, Proceedings of the Institution of Mechanical Engineers, Part: C Journal of Mechanical Engineering Sciences, Sage Publications, Accepted on August 31, 2020
            td 2020
            tr
            td 153
            td
                div
                | Iqbal, Md P., Vishwakarma, R., Pal, S. K., Mandal, P., “Influence of plunge depth during friction stir welding of aluminum pipes”, Proceedings of the Institution of Mechanical Engineers, Part: B Journal of Engineering Manufacture, Sage Publications, Accepted on July 18, 2020
            td 2020
            tr
            td 152
            td
                div
                | Iqbal, Md P., Tripathi, A., Jain, R., Mahto, R. P., Pal, S. K., Mandal, P., “Numerical modelling of microstructure in friction stir welding of aluminium alloys”, International Journal of Mechanical Sciences, Elsevier Publications, 185, 105882, 2020.
            td 2020
            tr
            td 151
            td
                div
                | Mahto, R. P., Pal, S. K., “Friction Stir Welding of Dissimilar Materials: An Investigation of Microstructure and Nano-Indentation Study”, Journal of Manufacturing Processes, Elsevier Publications, 55, 103-118
            td 2020
            tr
            td 150
            td
                div
                | Sadhu, A., Patrakarmkar, D., Mypati, O., Gopinath, M., Pal, S. K., Nath. A. K., “Performance of additive manufactured Stellite 6 tools in friction stir processing of CuCrZr sheet”, Optics and Laser Technology, Elsevier Publications (Accepted: 22 March 2020).
            td 2020
            tr
            td 149
            td
                div
                | Roy, R. B., Mishra, D., Pal, S. K., Chakravarty, T., Panda S., Chandra M. G., Pal, A., Misra P., Chakravarty, D., Misra S., “Digital twin: current scenario and a case study on a manufacturing process”, The Internal Journal of Advanced Manufacturing Technology, Springer Publications (Accepted: 6 April 2020).
            td 2020
            tr
            tr
            td 148
            td
                div
                | Mishra, D., Gupta, A., Raj, P., Kumar, A., Anwer, S., Pal, S. K., Chakravarty, D., Pal, S., Chakravarty, T., Pal, A., Misra, P., Misra, S., “Real time monitoring and control of friction stir welding process using multiple sensors”, CIRP Journal of Manufacturing Science and Technology, Elsevier Publications (Accepted: 16 March 2020). 
            td 2020
            tr
            tr
            td 147
            td
                div
                | Sadhu, A., Choudhary, A., Sarkar, S., Nair, A. M., Nayak, P., Dadasaheb, P. S., Gopinath, M., Pal, S. K., Nath. A. K., “A study on the influence of substrate pre-heating on mitigation of cracks in direct metal laser deposition of NiCrSiBC-60%WC ceramic coating on Inconel 718”, Surface and Coatings Technology, Elsevier Publications (Accepted: 16 March 2020).
            td 2020
            tr
            tr
            tr
            td 146
            td
                div  
                | Sharma, A., Sharma, V. M., Gugaliya, A., Rai, P., Pal, S. K., Paul, J., “Friction stir lap welding of AA6061 aluminium alloy with a graphene interlayer”, Materials and Manufacturing Processes, Taylor & Francis, (Online: 28 Jan 2020). DOI: 10.1080/10426914.2020.1718694
            td 2020
            tr
            td 145
            td
                div  
                | Mahto, R. P., Kumar, R., Pal, S. K., “Characterizations of weld defects, intermetallic compounds and mechanical properties of friction stir lap welded dissimilar alloys”, Materials Characterization, Elsevier Publications, 160, 110115.
            td 2020
            tr
            td 144
            td
                div  
                | Sengupta, I., Kumar, S., Pal, S. K., Chakraborty, S., “Characterization of Structural Transformation of Graphene Oxide to Reduced Graphene Oxide during Thermal Annealing”, Journal of Materials Research, (Accepted: 21 February 2020).
            td 2020
            tr
            td 143
            td
                div  
                | Mypati, O., Mishra, D., Sahu, S., Pal, S. K., Srirangam, P., “A study on electrical and electrochemical characteristics of Lithium-ion battery tabs for electric vehicles” Journal of Electronic Materials, Springer (Accepted: 09 October 2019).
            td 2020
            tr
            td  142
            td.
                div
                | Rout, M., Singh, S. B., Pal, S. K., “Microstructure and texture evolution in austenitic stainless steel during low strain rate deformation at elevated temperature”, International Journal of Material Forming, Springer (First Online: 23 July 2019).
            td 2019
            tr
            td 141
            td
                div
                | Sarkar, I., Priyanka, V., Jha, J. M., Pal, S. K., Chakraborty, S., "Application of binary mixed surfactant additives in jet impingement cooling of a hot steel plate", Heat and Mass Transfer, Springer (First online: 11 June 2019).
            td 2019
            tr
            td 140
            td
                div
                | Iqbal, Md P., Jain, R., Pal, S. K., “Numerical and experimental study on friction stir welding of aluminum alloy pipe” Journal of Materials Processing Technology, Elsevier Publication, 274, 116258.
            td 2019
            tr
            td 139
            td
                div
                | Sengupta. I., Bhattacharya, P., Talukdar, M., Neogi, S., Pal, S. K., Chakraborty, S., “Bactericidal effect of graphene oxide and reduced graphene oxide: Influence of shape of bacteria”, Colloid and Interface Science Communications, Elsevier Publication, 28, 60-68.
            td 2019
            tr
            td 138
            td
                div
                | Sharma, A., Sharma, V. M., Sahoo, B., Pal, S. K., Paul, J., “Effect of multiple micro channel reinforcement filling strategy on Al6061-graphene nanocomposite fabricated through friction stir processing”, Journal of Manufacturing Processes, Elsevier Publications, 37, 53–70.
            td 2019
            tr
            td 137
            td
                div
                | Sharma, V. M., Racherla, V., Pal, S. K., “Synthesis of Open-Cell Copper Foam using Friction Sintering”, The International Journal of Advanced Manufacturing Technology, (First Published May 09, 2019), 1-12.
            td 2019
            tr
            td 136
            td
                div
                | Mypati, O., Sadhu, A., Sahu, S., Mishra, D., Pal, S. K., Singh, S. B., Srirangam, P., “Enhancement of joint strength in friction stir lap welding AA6061 to AISI 304 by adding diffusive coating agents” Proceedings of the Institution of Mechanical Engineers, Part B: Journal of Engineering Manufacture, SAGE Journals (First Published April 26, 2019), 1-14.
            td 2019
            tr
            td 135
            td
                div
                | Kumari S., Jain, R., Kuar, U., Yadav, I., Kumar, N., Kumari, K., Kesharwani R. K., Kumar, S., Pal, S., Pal, S. K., Chakravarty, D., “Defect identification in friction stir welding using continuous wavelet transform”, Journal of Intelligent Manufacturing, Springer, 30(2), 483-494.
            td 2019
            tr
            td 134
            td
                div
                | Mahto, R.P., Gupta, C., Kinjawadekar, M., Meenaa, A., Pal, S. K., “Weldability of AA6061-T6 and AISI 304 by underwater friction stir welding” Journal of Manufacturing Processes, Elsevier Publications, 38, 370–386.
            td 2019
            tr
            td 133
            td
                div
                | Mahto, R. P., Anishetty, S., Sarkar, A., Mypati, O., Pal, S. K., Majumdar, J. D., “Interfacial microstructural and corrosion characterizations of friction stir welded AA6061-T6 and AISI304 materials”, Metal and Material International, Springer, 25( 3), 752–767.
            td 2019
            tr
            td 132
            td
                div
                | Chakraborty, S., Sarkar, I., Roshan, A., Pal, S. K., Chakraborty, S., “Spray cooling of hot steel plate using aqueous solution of surfactant and polymer”, Thermal Science and Engineering Progress, Elsevier Publications, 10, 217-231.
            td 2019
            tr
            td 131
            td
                div 
                | Chakraborty, S., Sengupta, I., Sarkar, I., Pal, S. K., Chakraborty, S., “Effect of surfactant on thermo-physical properties and spray cooling heat transfer performance of Cu-Zn-Al LDH nanofluid”, Applied Clay Science, Elsevier Publication 168, 43-55.
            td 2019
            tr
            td 130
            td
                div
                | Sahu, S. K., Mishra, D., Mahto, R. P., Sharma, V. M., Pal, S. K., Pal, K., Banerjee, S., Dash, P., “Friction stir welding of polypropylene sheets”, Engineering Science and Technology, an International Journal, Elsevier Publications, 21(2), 245-254.
            td 2018
            tr
            td 129
            td
                div
                | Sarkar, I., Chakraborty, S., Ashok, A., Sengupta, I., Pal, S. K., Chakraborty, S., “Comparative study on different additives with a jet array on cooling of a hot steel surface”, Applied Thermal Engineering, Elsevier Publications, 137, 154-163.
            td 2018
            tr
            td 128
            td
                div
                | Sarkar, I., Chakraborty, S., Roshan, A., Behera, D. K., Pal, S. K., Chakraborty, S., “Application of TiO2 nanofluid-based coolant for jet impingement quenching of a hot steel plate”, Experimental Heat Transfer, Taylor & Francis, 32(4), 322-336.
            td 2018
            tr
            td 127
            td
                div
                | Sengupta I., Chakraborty S., Talukdar M., Pal S. K., Chakraborty S., “Thermal reduction of graphene oxide: How temperature influences purity” Journal of Materials Research, Cambridge Core, 33(23), 4113-4122.
            td 2018
            tr
            td 126
            td
                div
                | Sharma, A., Sharma, V. M., Mewar, S., Pal, S. K., Paul, J., “Surface modification of Al6061 by graphene impregnation through a powder metallurgy assisted friction surfacing”, Surface and Coatings Technology, Elsevier Publication, 337, 12-23.
            td 2018
            tr
            td 125
            td
                div
                | Sharma, V. M., Racherla, V., Pal, S. K., “Friction sintering of brass powder, Advances in Materials and Processing Technologies, Taylor & Francis Online, 5(1), 95-103.
            td 2018
            tr
            td 124
            td
                div
                | Roy, R. B., Ghosh, A., Bhattacharyya, S., Mahto, R. P., Kumari, K., Pal, S. K., Pal, S., “Weld defect identification in friction stir welding through optimized wavelet transformation of signals and validation through X-ray micro-CT scan”,The International Journal of Advanced Manufacturing Technology, Springer, 99(1–4), 623–633
            tr
            td 123
            td
                div
                | Rout, M., Ranjan, R., Pal, S. K., Singh, S. B., “EBSD study of microstructure evolution during axisymmetric hot compression of 304LN stainless steel: Materials Science & Engineering A, Elsevier Publication, 711, 378-388.
            td 2018
            tr
            td 122
            td
                div
                | Rout, M., Pal, S. K., Singh, S. B., “Prediction of edge profile of plate during hot cross rolling”, Journal of Manufacturing Processes, Elsevier Publication, 31, 301-309.
            td 2018
            tr
            td 121
            td 
                div
                | Rout, M., Biswas, S., Ranjan, R., Pal, S. K., Singh, S. B., “Deformation behavior and evolution of microstructure and texture during hot compression of AISI 304LN stainless steel”, Metallurgical and Materials Transaction A, Springer, 49(3), 864-880.
            td 2018
            tr
            td 120
            td
                div
                | Mishra, D., Roy, R. B., Dutta, S., Pal, S. K., Chakravarty, D., “A review on sensor based monitoring and control of friction stir welding process and a roadmap to Industry 4.0”, Journal of Manufacturing Processes, 36, 373-397.
            td 2018
            tr
            td 119
            td
                div
                | Jain, R., Kumari, K., Pal, S. K., Singh, S. B., “Counter rotating twin-tool system in friction stir welding process: a simulation study”, Journal of Materials Processing Technology, Elsevier Publication, 255, 121-128.
            td 2018
            tr
            td 118
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Investigation on effect of pin shapes on temperature, material flow and forces during friction stir welding: A simulation study”, Proceedings of the Institution of Mechanical Engineers, Part B: Journal of Engineering Manufacture, SAGE Journals, First Published October 20, 2019, 1-14.
            td 2018
            tr
            td 117
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Finite element simulation of pin shape influence on material flow and forces in friction stir welding”, International Journal of Advanced Manufacturing Technology, Springer, 94 (5-8), 1781-1797.
            td 2018
            tr
            td 116
            td
                div
                | Mahto, R. P., Kumar, R., Pal, S. K., Panda, S. K., “A comprehensive study on force, temperature, mechanical properties and micro-structural characterizations in friction stir lap welding of dissimilar materials (AA6061-T6 & AISI304)”, Journal of Manufacturing Processes, Elsevier Publications, 31, 624–639.
            td 2018
            tr
            td 115
            td
                div
                | Chauhan, P., Jain, R., Pal, S. K., Singh, S. B., “Modeling of defects in friction stir welding using coupled Eulerian and Lagrangian method”, Journal of Manufacturing Processes, Elsevier Publication, 34( A), 158-166.
            td 2018
            tr
            td 114
            td
                div
                | Chakraborty, S., Sarkar, I., Ashok, A., Sengupta, I., Pal, S. K., Chakraborty S., “Thermo-physical properties of Cu-Zn-Al LDH nanofluid and its application in spray cooling”, Applied Thermal Engineering, Elsevier Publication, 141, 339-351.
            td 2018
            tr
            td 113
            td
                div
                | Chakraborty, S., Sarkar, I., Ashok, A., Sengupta, I., Pal, S. K., Chakraborty, S., “Synthesis of Cu-Al LDH nanofluid and its application in spray cooling heat transfer of a hot steel plate”, Powder Technology, Elsevier Publications, 335, 285-300.
            td 2018
            tr
            td 112
            td
                div
                | Sharma, A., Sharma, V. M., Mewar, S., Pal, S. K., Paul, J., “Friction stir processing of Al6061-SiC-graphite hybrid surface composites”, Materials and Manufacturing Processes, Taylor & Francis Online, 33 (7), 795-804.
            td 2018
            tr
            td 111
            td
                div
                | Sarkar, I., Chakraborty, S., Jha, J. M., Pal, S. K., Chakraborty, S., “Ultrafast cooling of a hot steel plate using Cu-Al layered double hydroxide nanofluid jet”, International Journal of Thermal Sciences, Elsevier Publication, 116, 52-62.
            td 2017
            tr
            td 110
            td
                div
                | Tiara, A. M., Chakraborty, S., Sarkar, I., Pal, S. K., Chakraborty, S., “Effect of alumina nanofluid jet on the enhancement of heat transfer from a steel plate”, Heat and Mass Transfer, Springer, 53 (6), 2187-2197.
            td 2017
            tr
            td 109
            td
                div
                | Tiara, A. M., Chakraborty, S., Sarkar, I., Pal, S. K., Chakraborty, S., “Synthesis and characterization of Zn-Al layered double hydroxide nanofluid and its application as a coolant in metal quenching”, Applied Clay Science, Elsevier Publication, 143, 241-249.
            td 2017
            tr
            td 108
            td
                div
                | Tiara, A. M., Chakraborty, S., Sarkar, I., Ashok, A., Pal, S. K., Chakraborty, S., “Heat transfer enhancement using surfactant based alumina nanofluid jet from a hot steel plate”, Experimental Thermal and Fluid Science, Elsevier Publication, 89, 295-303.
            td 2017
            tr
            td 107
            td
                div
                | Parikh, C., Ranjan, R., Khan, A. R., Jain, R., Mahto, R. P., Chakravarty, D., Pal, S., Pal, S. K., “Volumetric defect analysis in friction stir welding based on three dimensional reconstructed images”, Journal of Manufacturing Processes, Elsevier Publication, 29, 96-112.
            td 2017
            tr
            td 106
            td
                div
                | Jha, J M., Sarkar, I., Pal, S. K., Chakraborty, S., “Heat transfer from a hot moving steel plate by using Cu-Al layered double hydroxide nanofluid based air atomized spray”, Experimental Heat Transfer, Taylor & Francis Online, 30 (6), 500-516.
            td 2017
            tr
            td 105
            td
                div
                | Kesharwani, R. K., Basak, S., Panda, S. K., Pal, S. K., “Improvement in limiting drawing ratio of aluminum tailored friction stir welded blanks using modified conical tractrix die”, Journal of Manufacturing Processes, Elsevier Publication, 28 (1), 137-155.
            td 2017
            tr
            td 104
            td
                div
                | Chakraborty, S., Sarkar, I., Behera, D. K., Pal, S. K., Chakraborty, S., “Experimental investigation on the effect of dispersant addition on thermal and rheological characteristics of TiO2 nanofluid”, Powder Technology, Elsevier Publication, 307, 10-24.
            td 2017
            tr
            td 103
            td
                div
                | Sarkar, I., Behera, D. K., Jha, J. M., Pal, S. K., Chakraborty, S., “Effect of polymer additive on the cooling rate of a hot steel plate by using water jet”, Experimental Thermal and Fluid Science, Elsevier Publication, 70, 105-114.
            td 2016
            tr
            td 102
            td
                div
                | Sahu, P. K., Pal, S., Pal, S. K., Jain, R., “Influence of plate position, tool offset and tool rotational speed on mechanical properties and microstructure of dissimilar Al/Cu friction stir welding joints”, Journal of Material Processing Technology, Elsevier Publications, 235, 55-67.
            td 2016
            tr
            td 101
            td 
                div
                | Sahu, P. K., Kumari, K., Pal, S., Pal, S. K., “Hybrid fuzzy-grey-Taguchi based multi weld quality optimization of Al/Cu dissimilar friction stir welded joints”, Advances in Manufacturing, Springer, 4 (3), 237-247.
            td 2016
            tr
            td 100
            td
                div
                | Tiara, A. M., Chakraborty, S., Sarkar, I., Pal, S. K., Chakraborty, S., “Heat transfer in jet impingement on a hot steel surface using surfactant based Cu–Al layered double hydroxide nanofluid”, International Journal of Heat and Mass Transfer, Elsevier Publication, 101, 825-833.
            td 2016
            tr
            td 99
            td
                div
                | Ranjan, R., Khan, A. R., Parikh, C., Jain, R., Mahto, R. P., Pal, S., Pal, S. K., Chakravarthy, D., “Classification and identification of surface defects in friction stir welding : An image processing approach, Journal of Manufacturing Processes, Elsevier Publication, 22, 237-253.
            td 2016
            tr
            td 98
            td
                div
                | Rout, M., Pal, S. K., Singh, S. B., “Finite element simulation of a cross rolling process”, Journal of Manufacturing Processes, Elsevier Publication, 24(1), 283- 292.
            td 2016
            tr
            td 97
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “A study on the variation of forces and temperature in a friction stir welding process: A finite element approach”, Journal of Manufacturing Processes, Elsevier Publication, 23, 278-286.
            td 2016
            tr
            td 96
            td
                div
                | Jha, J. M., Ravikumar, S. V., Sarkar I., Pal, S. K., Chakraborty, S., “Jet impingement cooling of a hot moving steel plate: An experimental study”, Experimental Heat Transfer, Taylor & Francis Online, 29(5), 615–631.
            td 2016
            tr
            td 95
            td
                div
                | Jha, J. M., Ravikumar, S. V., Haldar, K., Sarkar, I., Pal, S. K., Chakraborty, S., “Heat transfer from a hot moving steel plate by air-atomized spray impingement”, Experimental Heat Transfer, Taylor & Francis Online, 29(1), 78-96.
            td 2016
            tr
            td 94
            td
                div
                | Mahto, R. P., Bhoje, R., Pal, S. K., Joshi, H. S., Das, S., “A study on mechanical properties in friction stir lap welding of AA 6061-T6 and AISI 304”, Material Science and Engineering: A, Elsevier Publications, 652, 136-144.
            td 2016
            tr
            td 93
            td
                div
                | Dutta, S., Pal, S. K., Sen, R., “Progressive Tool Condition Monitoring of End Milling from Machined Surface Images”, Proceedings of IMechE, Journal of Engg Manufacture, SAGE Publications, 232 (2), 251-266.
            td 2016
            tr
            td 92
            td
                div
                | Dutta, S., Pal, S. K., Sen, R., “On-Machine Tool Prediction of Flank Wear from Machined Surface Images using Texture Analyses and Support Vector Regression”, Precision Engineering, Elsevier Publications, 43, 34-42.
            td 2016
            tr
            td 91
            td
                div
                | Dutta, S., Pal, S. K., Sen, R., “Progressive Tool Flank Wear Monitoring by Applying Discrete Wavelet Transform on Turned Surface Images”, Measurement, Elsevier Publications, 77, 388-401.
            td 2016
            tr
            td 90
            td 2016
                div
                | Bhat, N. N., Dutta, S., Pal, S. K., Pal, S., “Tool Condition Classification in Turning Process using Hidden Markov Model based on Texture Analysis of Machined Surface Images”, Measurement, Elsevier Publications, 90, 500-509.
            td 2016
            tr
            td 89
            td
                div
                | Bhat, N. N., Dutta, S., Vashists, T., Pal, S., Pal, S. K., Sen, R., “Tool Condition Monitoring by SVM Classification of Machined Surface Images in Turning”, International Journal of Advanced Manufacturing Technology, Springer Verlag, 83 (9-12), 1487-1502.
            td 2016
            tr
            td 88
            td
                div
                | Ravikumar, S. V., Jha, J. M., Haldar, K., Pal, S. K., Chakraborty, S., “Surfactant based Cu-water nanofluid spray for heat transfer enhancement of high temperature steel surface” Journal of Heat Transfer, ASME, 137(5), 051504-051504-8.
            td 2015
            tr
            td 87
            td
                div
                | Ravikumar, S. V., Haldar, K., Chakraborty, S., Jha, J. M., Pal, S. K., Chakraborty, S., “Heat transfer enhancement using air-atomized spray cooling with water-Al2O3 nanofluid”, International Journal of Thermal Sciences, Elsevier, 96, 85-93.
            td 2015
            tr
            td 86
            td
                div
                | Pal, K., Pal, S. K., “Sensor based prediction of weld microstructure in pulsed MIG welding”, International Journal of Microstructure and Materials Properties, Inderscience Publishers, UK, 10 (5-6), 402–434.
            td 2015
            tr
            td 85
            td
                div
                | Mohapatra, S. S., Singh, A., Bhattacharya, C., RaviKumar, S. V., Chakraborty, S., Pal, S. K., “Effect of Oxide Layer in the Ultra-Fast Cooling of a Steel Plate” Experimental Heat Transfer, Taylor Francis Publication, 28 (2), 156–173.
            td 2015
            tr
            td 84
            td
                div
                | Jha, J M, Ravikumar, S V, Sarkar I, Pal, S. K., Chakraborty, S., “Ultrafast cooling processes with surfactant additives for hot moving steel plate”, Experimental Thermal and Fluid Science, Elsevier, 68, 135-144.
            td 2015
            tr
            td 83
            td
                div
                | Jha, J. M., RaviKumar, S. V., Tiara, A. M., Sarkar, I., Pal, S. K., Chakraborty, S., “Ultrafast cooling of a hot moving steel plate by using alumina nanofluid based air atomized spray impingement”, Applied Thermal Engineering, Elsevier, 75, 738-747.
            td 2015
            tr
            td 82
            td
                div
                | Kumar, U., Yadav, I., Kumari, S., Kumari, K., Kumar, N., Kesharwani, R. K., Jain, R., Kumar, S., Pal, S., Chakravarthy, D., Pal, S. K., “Defect identification in friction stir welding using discrete wavelet analysis”, Advances in Engineering Software, Elsevier Publication, 85, 43-50.
            td 2015
            tr
            td 81
            td
                div
                | Kumari, K., Pal, S. K., Singh, S. B., “Friction Stir Welding by using Counter-rotating Twin Tool”, Journal of Material Processing Technology, Elsevier Publications, 215, 132–141.
            td 2015
            tr
            td 80
            td
                div
                | Kesharwani, R. K., Panda, S. K., Pal, S. K., “Experimental Investigations on Formability of Aluminium Tailor Friction Stir Welded Blanks in Deep Drawing Process”, Journal of Materials Engineering and Performance, Springer, 24 (2), 1038–1049
            td 2015
            tr
            td 79
            td
                div
                | Dutta, S., Pal, S. K., Sen, R., “Tool Condition Monitoring in Turning by Applying Machine Vision”, Transactions of ASME, Journal of Manufacturing Science and Engineering, 138 (5), 051008-1-17.
            td 2015
            tr
            td 78
            td
                div
                | Chakraborty, S., Sarkar, I., Haldar, K., Pal, S. K., Chakraborty, S., “Synthesis of Cu-Al Layered Double Hydroxide nanofluid and characterization of its thermal properties”, Applied Clay Science, Elsevier, 107, 98-108.
            td 2015
            tr
            td 77
            td
                div
                | Bhat, N. N., Kumari, K., Dutta, S., Pal, S. K., Pal, S., “Friction Stir Weld Classification by Applying Wavelet Analysis and Support Vector Machine on Weld Surface Images”, Journal of Manufacturing Processes, Elsevier, 20(1), 274-281.
            td 2015
            tr
            td 76
            td
                div
                | Ravikumar, S. V., Jha, J. M., Sarkar, I., Pal, S. K., Chakraborty, S., “ Ultrafast cooling of medium carbon steel strip by air atomized water sprays with dissolved additives”, Ironmaking & Steelmaking, Taylor Francis Publication, 41 (7), 529-538.
            td 2014
            tr
            td 75
            td
                div
                | Ravikumar, S. V., Jha, J. M., Sarkar, I., Pal, S. K., Chakraborty, S., “Enhancement of heat transfer rate in air-atomized spray cooling of a hot steel plate by using an aqueous solution of non-ionic surfactant and ethanol”, Applied Thermal Engineering, Elsevier, 64 (1–2), 64-75.
            td 2014
            tr
            td 74
            td
                div
                | Ravikumar, S. V., Jha, J. M., Mohapatra, S. S., Pal, S. K., Chakraborty, S., “Experimental Investigation of Effect of Different types of Surfactants and Jet height on Cooling of a Hot Steel Plate”, Journal of Heat Transfer, Transactions of ASME Publications, 136 (7), 072102.
            td 2014
            tr
            td 73
            td
                div
                | Ravikumar, S. V., Jha, J. M., Sarkar, I., Pal, S. K., Chakraborty, S., “Mixed-surfactant additives for enhancement of air-atomized spray cooling of a hot steel plate”, Experimental Thermal and Fluid Science, Elsevier, 55, 210-220.
            td 2014
            tr
            td 72
            td
                div
                | RaviKumar, S. V., Jha, J. M., Tiara, A M., Pal, S. K., Chakraborty, S., “Experimental investigation of air-atomized spray with aqueous polymer additive for high heat flux applications”, International Journal of Heat and Mass Transfer, Elsevier, 72, 362–377.
            td 2014
            tr
            td 71
            td
                div
                | Mohapatra, S. S., Srinath, K., Pal, S. K., Chakraborty, S.,“ Enhancement of Cooling Rate for a Hot Steel Plate using Air-Atomized Spray with Surfactant-Added Water,” Experimental Heat Transfer, Taylor Francis Publication, 27(1), 72-90.
            td 2014
            tr
            td 70
            td
                div
                | Mohapatra, S. S., Ravikumar, S. V., Jha, J. M., Singh, A. K., Bhattacharya, C., Pal, S. K., Chakraborty, S., “Ultra-fast cooling of a hot steel plate by air atomized spray with salt solution” , Heat and Mass Transfer, Springer Publication, 50 (5), 587–601
            td 2014
            tr
            td 69
            td
                div
                | Garg. S., Patra, K., Pal, S. K., “Particle Swarm Optimization of a Neural Network Model in a Machining Process”, Sadhana, Springer, 39 (3), 533–548.
            td 2014
            tr
            td 68
            td
                div
                | Kesharwani, R. K., Panda, S. K., Pal, S. K., “Multi Objective Optimization of Friction Stir Welding Parameters for Joining of Two Dissimilar Thin Aluminium Sheets”, Procedia Materials Science, Elsevier, 6, 178–187.
            td 2014
            tr
            td 67
            td
                div
                | Saha, P., Tarafdar, D., Pal, S. K., Saha, P., Srivastava, A. K., Das, K., “Multiobjective Optimization in wire electro discharge machining of TiC reinforced composite neuro genetic technique”, Applied Soft Computing, Elsevier Science, 13 (4), 2065-2074.
            td 2013
            tr
            td 66
            td
                div
                | Ravikumar, S. V., Jha, J. M., Mohapatra, S. S., Sinha, A., Pal, S. K., Chakraborty, S., “Experimental Study of the Effect of Spray Inclination on Ultrafast Cooling of a Hot Steel Plate”, Heat and Mass Transfer, Springer Publication, 49 (10), 1509-1522.
            td 2013
            tr
            td 65
            td
                div
                | Ravikumar, S. V., Jha, J. M., Mohapatra, S. S., Pal, S. K., Chakraborty, S., “Influence of Ultrafast Cooling on Microstructure and Mechanical Properties of Steel”, Steel Research International, Wiley Publication, 84 (11), 1157-1170.
            td 2013
            tr
            td 64
            td
                div
                | Ravikumar, S. V., Jha, J. M., Sarkar, I., Mohapatra, S. S., Pal, S. K., Chakraborty, S., “Achievement of Ultrafast Cooling Rate in a Hot Steel Plate by Air-atomized Spray with Different Surfactant Additives”, Experimental Thermal and Fluid Science, Elsevier, 50, 79-89.
            td 2013
            tr
            td 63
            td
                div
                | Patra, K., Pal, S. K., Bhattacharyya, K., “Strategies for Intelligent Drill Wear Prediction using Multiple Sensor Signals”, International Journal of Mechatronics and Manufacturing Systems, Inderscience Publishers (UK), 6 (5/6), 493-512.
            td 2013
            tr
            td 62
            td
                div
                | Mohapatra, S S., Ravikumar, S. V., Verma, A., Pal, S. K., Chakraborty, S., “Experimental Investigation of Effect of a Surfactant to Increase Cooling of Hot Steel Plates by a Water Jet”, Journal of Heat Transfer, ASME Publications, 135 (3), 032101-7.
            td 2013
            tr
            td 61
            td
                div
                | Mohapatra, S. S., Ravikuma, S. V., Chakraborty, S., Pal, S. K., “Ultra-Fast Cooling of a Hot Steel Plate by Using High Mass Flux Air Atomized Spray,” Steel Research International, Wiley Publication, 84 (3), 229-236.
            td 2013
            tr
            td 60
            td
                div
                | Mohapatra, S. S., Ravikumar, S. V., Ranjan, R., Pal, S. K., Singh, S. B., Chakraborty, S., “Ultra-Fast Cooling and its Effect on the Mechanical Properties of Steel,” Journal of Heat Transfer, ASME Publications, 136 (3), 032101-9.
            td 2013
            tr
            td 59
            td
                div
                | Datta, A., Dutta, S., Pal, S. K., Sen, R., “Progressive Cutting Tool Wear Detection from Machined Surface Images using Voronoi Tessellation Method”, Journal of Materials Processing Technology, Elsevier, 213 (12), 2339-2349.
           td 2013
           tr
           td 58
            td
                div
                | Dutta, S., Pal, S K., Mukhopadhyay, S., Sen, R., “Application of Digital Image Processing in Tool Condition Monitoring: A Review”, CIRP Journal of Manufacturing Science and Technology (Elsevier), 6 (3), 212-232.
            td 2013
            tr
            td 57
            td
                div
                | Dutta, S., Kanwat, A., Pal, S. K., Sen, R., “Correlation Study of Tool Wear with machined Surface Texture in end Milling”, Measurement (Elsevier), 46 (10), 4249-4260.
            td 2013
            tr
            td 56
            td
                div
                | Mohapatra, S. S., Chakraborty, S., Pal, S. K., “Experimental studies on different cooling processes to achieve ultra-fast cooling rate for hot steel plate”, Experimental Heat Transfer, Taylor Francis, 25 (2), 111-126.
           td 2012
           tr
            td 55
            td
                div
                | Mohapatra, S.S., Ravikumar, S. V., Andhare S. K., Chakraborty, S., Pal, S. K., “Experimental study and optimization of air atomized spray with surfactant added water to produce high cooling rate”, Journal of Enhanced Heat Transfer, Begell House Publications, 19 (5), 397-408.
           td 2012
           tr
            td 54
            td
                div
                | Datta, A., Samik D., Mukherjee, S., Sen, R., and Pal, S. K., “Texture Analysis of Turned Surface Images using Grey Level Co-occurrence Technique”, Advance Materials Research, 365, 38-43.
            td 2012
            tr
            td 53
            td
                div
                | Dutta, S., Datta, A., Das, C. N., Pal, S. K., Mukhopadhyay, S., Sen, R., “Detection of Tool Condition from the Turned Surface Images using an Accurate Grey Level Co-occurrence Technique”, Precision Engineering, Elsevier Publications, 36 (3), 458-466.
            td 2012
            tr
            td 52
            td
                div
                | Das, C. N., Pal, S. K., Mandal, P., “Drilling of woven glass fiber reinforced plastic – an experimental and finite element study”, International Journal of Advanced Manufacturing Technology, Springer Verlag, 58(1-4), 267-278.
            td 2012
            tr
            td 51
            td
                div
                | Chatterjee, S., Chatterjee, R., Pal, S., Pal, K., Pal, S. K., “Adaptive chirplet transform for sensitive and accurate monitoring of pulsed gas metal arc welding process”, International Journal of Advanced Manufacturing Technology, Springer Verlag, 60 (1-4), 111-125.
            tr
            td 50
            td
                div
                | Bhattacharya, S., Pal, K., Pal, S. K., “Multi-Sensor based prediction of metal deposition in pulsed gas metal arc welding using various soft computing models”, Applied Soft Computing, Elsevier Publications, 12(1), 498-505.
            td 2012
            tr
            td 49
            td
                div
                | Pal, S., Heyns, P. S., Freyer, B.H., Theron, N. J., Pal, S. K., “Tool wear monitoring and selection of optimum cutting conditions with progressive tool wear effect and input uncertainties”, Journal of Intelligent Manufacturing, Springer Verlag, 22(4), 491-504.
            td 2011
            tr
            td 48
            td
                div
                | Priyadarshini, A., Pal, S. K., Samantaray, A. K., “A Finite Element Study of Chip Formation Process in Orthogonal Machining”, International Journal of Manufacturing, Materials and Mechanical Engineering, IGI Global, 1(4), 19-45.
            td 2011
            tr
            td 47
            td
                div
                | Priyadarshini, A., Pal, S. K., Samantaray, A. K., “Influence of the Johnson Cook Material Model Parameters and Friction Models on Simulation of Orthogonal Cutting”, International Journal of Machining and Forming Technologies, Nova Science, USA, 4 (1-2), 59-83.
           td 2011
           tr
            td 46
            td
                div
                | Pal, K., Pal, Surjya K., “Monitoring of weld penetration using arc acoustics”, Materials and Manufacturing Processes, Taylor & Francis, 26, 684-693.
            td 2011
            tr
            td 45
            td
                div
                | Pal, K., Pal, S. K., “Soft Computing Methods used for the modelling and Optimization of gas metal arc welding: a review”, International Journal of Manufacturing Research, Inderscience Publications, 6(1), 15-29.
            td 2011
            tr
            td 44
            td
                div
                | Pal, K., Pal, S. K., “Effect of pulse parameters on weld quality in pulsed gas metal arc welding: a review”, Journal of Materials Engineering and Performance, Springer Verlag, 20(6), 918-931.
            td 2011
            tr
            td 43
            td
                div
                | Pal, K., Bhattacharya, S., Pal, S. K., “Optimization of weld deposition efficiency in pulsed MIG welding using hybrid neuro-based techniques” International Journal of Computer Integrated Manufacturing, Taylor & Francis, 24(3), 198-210.
            td 2011
            tr
            td 42
            td
                div
                | Priyadarshini, A., Pal, S. K., Samantaray, A. K., “Finite element study of serrated chip formation and temperature distribution in orthogonal machining”, International Journal of Mechatronics and Intelligent Manufacturing, Nova Science Publishers, 2 (1-2), 53-72.
           td 2010
           tr
           td 41
           td
                div
                | Patra, K., Pal, S. K., Bhattacharyya, K., “Fuzzy radial basis function (FRBF) network based tool condition monitoring using vibration signals”, Machining Science and Technology, Taylor & Francis, 14 (2), 280-300.
            td 2010
            tr
            td 40
            td
                div
                | Pal, S., Pal, S. K., and Samantaray, A. K., “Determination of optimal pulse metal inert gas welding parameters with a neuro-GA technique”, Materials and Manufacturing Processes, Taylor & Francis, 25 (7), 606-615.
            td 2010
            tr
            td 39
            td
                div
                | Pal, K., Bhattacharya, S., Pal, S. K., “Multisensor-based monitoring of weld deposition and plate distortion for various torch angles in pulsed MIG welding”, International Journal of Advanced Manufacturing Technology, Springer-Verlag London, 50 (5-8), 543-556.
            td 2010
            tr
            td 38
            td
                div
                | Pal, S., Pal, S. K., Samantaray, A. K., “Prediction of the quality of pulsed metal inert gas welding using statistical parameters of arc signals in artificial neural network”, International Journal of Computer Integrated Manufacturing, Taylor & Francis, 23 (5), 453-465.
            td 2010
            tr
            td 37
            td
                div
                | Pal, K., Pal, S. K., “Sensor based characterization of weld quality and process stability monitoring in pulsed MIG welding”, Journal of Mechatronics and Intelligent Manufacturing, Nova Science Publishers, 2 (1-2), 5-16.
            td 2010
            tr
            td 36
            td
                div
                | Pal, K., Bhattacharya, S., Pal, S. K., “Investigation on arc sound and metal transfer modes for on-line monitoring in pulsed gas metal arc welding”, Journal of Materials Processing Technology, Elsevier Publications, 210 (10), 1397-1410.
           td 2010
           tr
            td 35
            td
                div
                | Pal, K., Pal, S. K., “Study of weld joint strength using sensor signals for various torch angles in pulsed MIG welding”, CIRP Journal of Manufacturing Science and Technology, Elsevier Publications, 3 (1), 55-65.
            td 2010
            tr
            td 34
            td
                div
                | Garg. S., Patra, K., Khetrapal, V., Pal, S. K., Chakraborty, D., “Genetically evolved radial basis function network based prediction of drill flank wear”, Engineering Applications of Artificial Intelligence, Elsevier Publications, 23, 1112-1120.
            td 2010
            tr
            td 33
            td
                div
                | Ghosh, S. K., Pal, S., Roy, S. K., Pal, S. K., Basu, D., “Modelling of the flame temperature of solution combustion synthesis of nanocrystalline calcium hydroxyapatite material and its parametric optimization”, Bulletin of Materials Science, Springer, 33 (4), 339-350.
            td 2010
            tr
            td 32
            td
                div
                | Saha, P., Tarafdar, D., Pal, S. K., Saha, P., Srivastava A. K., Das, K., “Modeling of wire-electro-discharge machining of TiC/Fe in-situ metal matrix composite using normalized RBFN with enhanced k-means clustering technique”, International Journal of Advanced Manufacturing Technology, Springer-Verlag 43 (1-2),107-116.
            td 2009
            tr
            td 31
            td
                div
                | Patra, K., Pal, S. K., Bhattacharyya, K., “Application of wavelet packet transform based normalized radial basis function network in a machining process”, International Journal of Materials and Product Technology, Special issue on “Intelligent Machining – Computational Methods and Optimisation”, Inderscience Publishers, 35 (1/2), 184-198.
            td 2009
            tr
            td 30
            td
                div
                | Patra, K., Bhattacharyya, K., Pal, S. K., “Neural network based prediction of drill wear from theoretically analyzed and experimentally measured values of thrust force and torque”, International Journal of Machining and Machinability of Materials, Inderscience Publishers, 5 (2/3), 207 – 231.
            td 2009
            tr
            td 29
            td
                div
                | Pal, K., Bhattacharya, S., Pal, S. K., “Prediction of metal deposition from arc sound and weld temperature signatures in pulsed MIG welding”, International Journal of Advanced Manufacturing Technology, Springer-Verlag, 45, 1113-1130.
            td 2009
            tr
            td 28
            td
                div
                | Raghavendra N., Koranne, R., Patra, K., Pal, S. K., “A neuro ant colony optimized model for drill flank wear prediction”, International Journal for Manufacturing Sciences & Production, Freund Publishing House, Israel, 10 (3-4), 169-184.
            td 2009
            tr
            td 27
            td
                div
                | Pal, S., Malviya, S. K., Pal, S. K., Samantaray, A. K., “Optimization of quality characteristics parameters in a pulsed metal inert gas welding process using grey-based Taguchi method”, International Journal of Advanced Manufacturing Technology, Springer-Verlag, 44, 1250-1260.
            td 2009
            tr
            td 26
            td
                div
                | Raghavendra, N. Koranne, R., Pal, S., Pal, S. K., Samantaray, A. K., “Joint strength prediction in a pulsed MIG welding process using hybrid neuro ant colony-optimized model”, International Journal of Advanced Manufacturing Technology, Springer-Verlag, 41 (7-8), 694-705.
            td 2009
            tr
            td 25
            td
                div
                | Saha, P, Singha, A., Pal, S. K., Saha, P., “Soft computing models based prediction of cutting speed and surface roughness in wire electro-discharge machining of tungsten carbide cobalt composite”, International Journal of Advanced Manufacturing Technology, Springer-Verlag (London), 39 (1-2), 74-84.
            td 2008
            tr
            td 24
            td
                div
                | Panda, S. S., Chakraborty, D., Pal, S. K., “Flank wear prediction in drilling using back propagation neural network and radial basis function network”, Applied Soft Computing, Elsevier Publications, 8 (2), pp. 858-871.
            td 2008
            tr
            td 23
            td
                div
                | Panda, S. S., Chakraborty, D., Pal, S. K., “Drill wear prediction using different neural network architectures”, International Journal of Knowledge-Based and Intelligent Engineering Systems, IOS Press, 12 (5-6), 327-338.
            td 2008
            tr
            td 22
            td
                div
                | Pal, S., Pal, S. K., Samantaray, A. K., “Sensor based weld bead geometry prediction in pulsed metal inert gas welding process through artificial neural networks”, International Journal of Knowledge-Based and Intelligent Engineering Systems, IOS Press, 12 (2), 101-114.
            td 2008
            tr
            td 21
            td
                div
                | Pal, S., Pal, S. K., Samantaray, A. K., “Artificial neural network modeling of weld joint strength prediction of a pulsed metal inert gas welding process using arc signals”, Journal of Materials Processing Technology, Elsevier Publications, 202 (1-3), 464-474.
            td 2008
            tr
            td 20
            td
                div
                | Pal, S., Pal, S. K., Samantaray, A. K., “Neurowavelet packet analysis based on current signature for weld joint strength prediction in a pulsed metal inert gas welding process”, Science and Technology of Welding and Joining, Maney Publisher, 13 (7), 638-645.
            td 2008
            tr
            td 19
            td
                div
                | Mandal, M., Pal, S. K., “Pseudo-bond graph modelling of temperature distribution in a through-process steel rolling”, Mathematics and Computers in Simulation, Elsevier Publications, 77 (1), 81-95.
            td 2008
            tr
            td 18
            td
                div
                | Garg. S., Patra, K., Pal, S. K., Chakraborty, D., “Effect of different basis functions on a radial basis function network in prediction of drill flank wear from motor current signals”, Soft Computing, Springer-Verlag Publications, 12 (8), 777-787.
            td 2008
            tr
            td 17
            td
                div
                | Panda, S. S., Chakraborty, D., Pal, S. K., “Monitoring of drill flank wear using fuzzy back-propagation neural network”, International Journal of Advanced Manufacturing Technology, Springer-Verlag (London), 34 (3-4), 227-235.
            td 2007
            tr
            td 16
            td
                div
                | Patra, K., Pal, S. K., Bhattacharyya, K., “Artificial neural network based prediction of drill flank wear from motor current signals”, Applied Soft Computing Journal, Elsevier Publications, 7, 929-935.
            td 2007
            tr
            td 15
            td
                div
                | Patra, K., Pal, S. K., Bhattacharyya, K., “Application of wavelet packet analysis in drill wear monitoring”, Machining Science and Technology, Taylor & Francis Group, 11 (3), 413-432.
            td 2007
            tr
            td 14
            td
                div
                | Pal, S. K., Talamantes-Silva, J., Linkens, D. A., Howard, I. C., “Bond graph and finite element analysis of temperature distribution in a hot rolling process: a comparative study”, Journal of Systems and Control Engineering (Proceedings of the IMechE, Part I), SAGE Journals, 221 (I), 653-661.
            td 2007
            tr
            td 13
            td
                div
                | Pal, S., Pal, S. K., Samantaray, A. K., “Radial basis function neural network model based prediction of weld plate distortion due to pulsed metal inert gas welding”, Science and Technology of Welding and Joining, Taylor & Francis, 12 (8), 725-731.
            td 2007
            tr
            td 12
            td
                div
                | Mandal, M., Pal, S. K., “Bond graph modelling of temperature distribution in a steel plate during multi-stand rolling”, International Journal of Materials and Product Technology, Inderscience Publishers (UK), 30 (4), 370-385.
            td 2007
            tr
            td 11
            td
                div
                | Garg, S., Pal, S. K., Chakraborty, D., “Evaluation of the performance of backpropagation and radial basis function neural networks in predicting the drill flank wear”, Neural Computing and Applications, Springer-Verlag (London), 16, 407-417.
            td 2007
            tr
            td 10
            td
                div
                | Mandal, D., Pal, S. K., Saha, P., “Modeling of electrical discharge machining process using back propagation neural network and multi-objective optimization using non-dominating sorting genetic algorithm-II”, Journal of Materials Processing Technology, Elsevier Publications, 186 (1-3), 154-162.
            td 2007
            tr
            td 9
            td
                div
                | Mandal, D., Pal, S. K., Saha, P., “Back propagation neural network based modeling of multi-responses of an electrical discharge machining process”, International Journal of Knowledge-Based and Intelligent Engineering Systems, IOS Press, 11 (2), 381-390.
            td 2007
            tr
            td 8
            td
                div
                | Singh, A. K., Panda, S. S., Pal, S. K., Chakraborty, D., “Predicting drill wear using artificial neural network”, International Journal of Advanced Manufacturing Technology, Springer-Verlag (London), 28, 456-462.
            td 2006
            tr
            td 7
            td
                div
                | Panda, S. S., Singh, A. K., Chakraborty, D., Pal, S. K., “Drill wear monitoring using back propagation neural network”, Journal of Materials Processing Technology, Elsevier Publications, 172, 283-290.
            td 2006
            tr
            td 6
            td
                div
                | Pal, S. K., Chakraborty, D., “Surface roughness prediction in turning using artificial neural network”, Neural Computing and Applications, Springer-Verlag (London), 14 (4), 319-324.
            td 2005
            tr
            td 5
            td
                div
                | Pal, S. K., Linkens, D. A., “Bond graph modelling and simulation of static recrystallization kinetics in multipass hot steel rolling”, Computer, Materials and Continua, Tech Science Press (USA), 2 (2), 113-118.
            td 2005
            tr
            td 4
            td
                div
                | Bisht, H., Gupta, J., Pal, S. K., Chakraborty, D., “Artificial neural network based prediction of flank wear in turning”, International Journal of Materials and Product Technology, Inderscience Publishers (UK), 22 (4), 328-338.
            td 2005
            tr
            td 3
            td
                div
                | Pal, S. K., Mukherjee, A., Karmakar, R., “Modelling of thermometallurgical process in a runout table, part 1: a bond graph approach”, International Journal of Modelling and Simulation, ACTA Press (USA), 22 (1), 39-46.
            td 2002
            tr
            td 2
            td
                div
                | Pal, S. K., Mukherjee, A., Karmakar, R., “Modelling of thermometallurgical process in a runout table, part 2: simulation studies on eutectoid and 1025 carbon steel”, International Journal of Modelling and Simulation, ACTA Press (USA), 22 (2), 77-85.
            td 2002
            tr
            td 1
            td
                div
                | Pal, S. K., Linkens, D. A., “Temperature distribution in steel during hot rolling: pseudo-bond graph view”, Simulation Modelling Practice and Theory, Elsevier Publication, 10, 69-85.
            td 2002
