br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') National Journal : 3
.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Title
            th(scope='col') Year
        tbody
            tr
            td 3
            td
                div
                | Pal, K., Pal, S. K., “Multiobjective optimization of pulsed gas metal arc welding process using neuro-NSGA-II”, Journal of the Institution of Engineers (India): Series C, Springer, (https://doi.org/10.1007/s40032-018-0466-2).
            td 2018
            tr
            td 2
            td
                div
                | Rout, M., Pal, S. K., Singh, S. B., “Finite element analysis of cross rolling on AISI 304 stainless steel: prediction of stress and strain fields”, Journal of the Institution of Engineers (India): Series C, Springer, 98(1), 27-35.
            td 2017
            tr
            td 1
            td
                div
                | Jain, R., Pal, S. K., Singh, S. B., “Finite element simulation of temperature and strain distribution during friction stir welding of AA2024 aluminum alloy”, Journal of the Institution of Engineers (India): Series C, Springer, 98(1), 37-43.
            td 2017
