br
h3(style='color: #2D1FF0; font-family:Georgia, serif; text-align:center') Textbook : 1
.data
    table.table.table-hover
        thead.thead-dark
            tr
            th(scope='col') #
            th(scope='col') Title
            th(scope='col') Year
        tbody
            tr
            td 1
            td
                div
                | Pal S.K., Mishra D., Pal A., Dutta S., Chakravarty D., Pal S., Digital Twin - Fundamental Concepts to Applucations in Advanced Manufacturing, Springer Series in Advanced Manufacturing, Springer, eBook ISBN: 978-3-030-81815-9, Hardcover ISBN: 978-3-030-81814-2, Series ISSN: 1860-5168, Edition number: 1, Link: https://www.springer.com/in/book/9783030818142
            td 2021
